[2015-03-15 18:33] dbadrov opened #1 "Doesn't work when parent has a transformed property"
E.g. when you have a markup/CSS like this:
[code]
Where .content has a CSS transform property (e.g. translate), the sticky doesn't work, due to the usage of position:fixed in your script, see:
http://meyerweb.com/eric/thoughts/2011/09/12/un-fixing-fixed-elements-with-css-transforms/
and
http://stackoverflow.com/questions/15194313/webkit-css-transform3d-position-fixed-issue

[2015-03-23 12:41] saebekassebil opened #3 "Versioning"
Hey guys,

First: Thank you for writing this. I'm using this in production, and it just works.

The recent change that caused for version `1.1.0` really should've caused for version `2.0.0`. That is, bumping the major ( if you follow SemVer, which is kinda the standard around here :) ). Why? Because the change was not backwards compatible, since you removed the className in turn for style. I just

[2015-03-26 00:58] joernroeder commented on #3
i've also changed my version strictly to 1.0.4 cause i rely on classNames. I'm using this plugin to make some elements sticky within media queries which works like a charm with custom classNames.

What do you think about the following options?

1. className `<Sticky stickyClassName="sticky">`
2. custom styles `<Sticky stickyStyle={customStyleObject}>`
3. mixed `<Sticky stickyClassName="sticky" sti

[2015-03-26 01:46] captivationsoftware commented on #3
Ok, so first of all -- sorry about the breaking change, but thanks for using react-sticky!

I like the idea of providing both. I will get started on a fix that will be backwards compatible with 1.0.4. Stay tuned, and thanks for the great feedback!

[2015-04-04 00:02] captivationsoftware commented on #3
An update - @4lejandrito's pull request takes care of the sticky class issue. I need to make a couple of changes to it before I push the merge, but I'm thinking either 2.0.0 for the version as @saebekassebil originally suggested, or 1.2.0, since the API from 1.x.x will be restored, with new functionality. Any preference?

[2015-04-16 00:59] captivationsoftware commented on #3
Just published version 2.0.0, which corrects the above issues. Thanks for the heads up!

[2015-04-17 11:21] saebekassebil commented on #3
Very cool - thank you @captivationsoftware !

[2015-04-17 11:21] #3 closed

[2015-04-17 19:36] axelhzf opened #6 "On resize loose sticky until scroll"

[2015-04-17 19:52] captivationsoftware commented on #1
Could you provide a jsfiddle that recreates the problem?

[2015-04-19 10:18] joernroeder commented on #3
perfect! thx

[2015-04-19 22:24] captivationsoftware commented on #6
Fixed as part of 2.1.0

[2015-04-19 22:24] #6 closed

[2015-05-11 02:53] dcramer opened #7 "shouldComponentUpdate should check children"
Seemingly the fact that shouldComponentUpdate only checks the sticky state (and not child elements) causes anything within ``<Sticky />`` to only re-render if the sticky state changes.

[2015-06-03 01:05] #7 closed

[2015-06-05 15:59] legomushroom commented on #1
This is not component's issue but browsers' behavior.
Nothing to do in the component to solve it.

[2015-06-17 13:33] iamstarkov opened #13 "last version doesnt work in mocha because node env have no requestAnimationFrame support"
as titled =) pls free to ask anything you need

[2015-07-13 18:10] sbussard commented on #13
bump

[2015-07-23 08:46] idchlife opened #17 "Uncaught TypeError: Cannot read property 'firstChild' of undefined"
react version 0.13.3

    Uncaught TypeError: Cannot read property 'firstChild' of undefinedReactMount.findComponentRoot

        @ app.js:33966ReactMount.findReactNodeByID
        @ app.js:33912getNodeFromInstance
        @ app.js:33401findDOMNode
        @ app.js:40474ReactBrowserComponentMixin.getDOMNode
        @ app.js:40412React.createClass.shouldBeSticky
        @ app.js:24880React.createCl

[2015-08-11 03:12] rlancer opened #21 "Default z-index to 1 and or allow it to be set as an attribute"

[2015-08-12 00:21] captivationsoftware commented on #21
Its a good idea - care to submit a pull request for it?

[2015-08-12 01:02] rlancer commented on #21
Sure ... I'll get on it soon, I think the default should be 1 let me know
if I should do otherwise
On Aug 11, 2015 8:21 PM, "Captivation Software" <notifications@github.com>
wrote:

[2015-08-23 05:31] #21 closed

[2015-09-15 02:38] Agamennon opened #24 "Default style value"
First, thanks for this, just an opinion here, but the default style value for sticky should not be 0 for the left position, it should be whatever the value is on the component,  i have to wrap sticky into another react component to be able to accomplish that:
[code]
and later on render

[code]

it works, but it renders the component twice for it to get the y position,  and almost never the user wi

[2015-10-20 17:45] rkoberg opened #28 "feature request: add parent container option"
I want my sticky nav to retain the width of its containing element. I also only want this to render on the client. How about adding an option that defines the container:
[code]
Then check for the DOM and create the styles based on the container:
[code]

[2015-10-20 18:31] rkoberg opened #29 "keep sticky thing's height in original container"
Currently when the sticky thing becomes fixed the page jumps up the height of the sticky thing (and vice versa when becoming 'unfixed'). I would say this is a bug.

I am currently doing something like this:
[code]
Something like this should be part of the module, I think.

[2015-10-21 00:22] #13 closed

[2015-10-21 00:22] #17 closed

[2015-10-21 00:23] #1 closed

[2015-10-21 00:44] illing2005 opened #30 "Stop beeing sticky"
Hi,
I really like the component and it helped me a lot.
But I have a question. Is it possible to define a value like `bottomOffset` at which the component stops being sticky and starts moving down normal again?

[2015-11-02 19:32] goldensunliu opened #31 "where is handleStickyStateChange in the source?"
where is this prop in the source, accordingly to the doc we have this callback hook?

#### onStickyStateChange

Use the onStickyStateChange prop to fire a callback function when the sticky state changes:

app.jsx
[code]

[2015-11-02 19:34] goldensunliu commented on #31
nvm searched  for 'handleStickyStateChange' instead of 'onStickyStateChange'

[2015-11-02 19:34] #31 closed

[2015-11-02 20:17] goldensunliu opened #32 "ability to specify the parent DOM element to watch events on."
we currently register events on window always:
https://github.com/captivationsoftware/react-sticky/blob/master/lib/sticky.js#L187

would be nice to able to specify the parent component to watch events on. since you can have cases where you want something sticky within a container that is scrollable.

[2015-11-02 20:39] goldensunliu commented on #32
this gets tricky since:
[code]

[2015-11-02 21:41] goldensunliu commented on #32
i.e the current hard assumption is we will only use this against the window object.

[2015-11-12 04:15] captivationsoftware commented on #32
Can you rephrase this? I'm having difficulty following your train of thought..

[2015-11-12 04:17] captivationsoftware commented on #28
It's a good idea. I'd encourage you to submit a PR to get the ball rolling.

[2015-11-12 04:33] captivationsoftware commented on #29
I think your mind is in the right place, however, when you start modifying the parent, it seems like it breaks the component convention. A higher level component or some CSS living elsewhere should apply this fix, not this library.

I think the safer solution would be to implement this on an individualized, as-needed basis

[2015-11-21 14:53] aytigra opened #34 "className lag"
When component mounts, div element does not have **className** passed as props, it happens only after first tick. Because of that, sticky block changes after page load.

As a solution, I am setting  **className: this.props.className** in **getInitialState()**

[2015-12-03 20:36] tsusini commented on #30
+1

[2015-12-14 12:23] kumarharsh commented on #32
I think what he means is that the "sticky" may be within a container which is scrollable, say a `div` which has a `table` (made with css) within it. As you scroll inside the div, the table header becomes stuck.

Or something like this: http://react-bootstrap.github.io/react-overlays/examples/#affixes

[2016-01-06 19:50] cheapsteak opened #35 "Allow specifying what component to use (instead of passing in `React.DOM.*`)"
Currently `type` expects an element factory method from `React.DOM`, it would be good if we could pass in our own components to this.

Usage:

`<Sticky component={MyComponent} />`

and if you need a div,

`<Sticky component='div' />`

[2016-01-13 07:25] rdsubhas opened #36 "Proposal: Empty div with Height to prevent jank when sticking/unsticking"
### Problem:

* The child nodes of `<Sticky>` component are switched to `position: fixed`
* They go out of their current position and stick to the top
* Other divs below them suddenly jump into the now empty space that these child nodes occupied
* This causes a jank

### Proposal:

* When rendering `<Sticky>`, add a hidden, empty faux `<div>` tag
* Before sticky gets activated, set height of this

[2016-01-13 07:29] rdsubhas commented on #29
I have proposed an alternate fix for this without modifying the parent. Can you please take a look at #36

[2016-01-14 07:47] rdsubhas commented on #36
Update: I have checked out a branch. During `componentDidMount` I cache the height of the domNode. And when rendering, I render an empty div with this height whenever sticky is enabled. Its scrolls awesome with zero jank. So the theory works, will send a PR.

[2016-01-19 10:29] rkoberg commented on #36
Looks good to me. Perhaps use the sticky's clientRect https://github.com/captivationsoftware/react-sticky/issues/29#issuecomment-155994999 as a default value?

Do the sticky children jump/jank, but the content below scrolls smoothly? That is why I put the margin on the top. Perhaps a couple of options like fauxTop || fauxBottom (or scrollMarginTop || scrollMarginBottom)? Something like:
[code]

[2016-01-20 00:35] nicolls1 commented on #36
+1 looking forward to this!

[2016-01-20 08:53] rdsubhas commented on #36
I'm a bit packed but will work on this over the weekend. Until then, here's a FauxSticky wrapper that I'm using and works very well!

[code]

NOTE: It uses the height of the `Sticky` ref domNode. So if you're applying any extra margin/padding to the `.sticky` CSS class, the faux height will jump up a bit more than usual. Just saying, as long as the `.sticky` class doesn't have any height manipulat

[2016-01-20 14:23] rkoberg commented on #36
You will want to move the function bind to the constructor (create function once versus many times):
https://github.com/yannickcr/eslint-plugin-react/blob/master/docs/rules/jsx-no-bind.md

[2016-01-31 11:17] Yuripetusko commented on #30
+1

[2016-02-02 17:44] curly33 opened #39 "Trigger from bottom of element"
Would it be possible to make an element sticky when the bottom of the element reaches the top of the screen? Almost like a default option for topOffset with a value of the element's height?

[2016-02-24 18:13] dbarbalato commented on #39
This is coming

[2016-02-24 18:14] dbarbalato commented on #36
I will work on bringing this in this weekend

[2016-02-25 07:22] rdsubhas commented on #36
@dbarbalato thank you so much, sorry I was a bit held up and couldn't make this happen :+1: If you're doing this within the component, then it can be done even before `onStickyChange` is called, and that would be great :)

[2016-02-25 16:40] jdart commented on #13
Did anyone find a solution to this? The isModernBrowser function seems to get called in an infinite loop when called in the node env.

[2016-02-25 22:11] tnrich opened #40 "Making a sticky bottom bar"
Is it possible to make a sticky bottom bar using React Sticky?

It would act the same as the sticky top bar, but be triggered when the page is scrolled up from the bottom.

Thanks!
Thomas

[2016-02-25 22:17] samdenicola commented on #40
I'm having this same issue. Any way to toggle which scrolling direction triggers the "stickiness"?

[2016-02-25 22:23] dannypk commented on #40
@samdenicola Have you tried setting a very positive top and even more bottom ?

Like top would be all way long to the bottom and bottom all way long to the top. Top 1300, bottom also 1300. Have never tried, just suggestion. :)

[2016-02-27 06:33] #30 closed

[2016-03-01 02:48] dbarbalato commented on #28
Coming in 4.0.0

[2016-03-01 02:48] #28 closed

[2016-03-01 02:49] dbarbalato commented on #35
v4.0.0 is eliminating the type property altogether.

[2016-03-01 02:49] #35 closed

[2016-03-01 02:51] dbarbalato commented on #36
The spirit of this idea will be in 4.0.0 via the inclusion of the new StickyContainer tag. Check out the demo and new README to see things in action. It was a really smart idea - good thinking.

[2016-03-01 02:51] #36 closed

[2016-03-01 02:53] dbarbalato commented on #32
This is addressed in v4.0.0

[2016-03-01 02:53] #32 closed

[2016-03-01 02:55] dbarbalato commented on #24
As of 4.0.0, the default sticky style width and top value is its parent's <StickyContainer> width and top properties, respectively

[2016-03-01 02:55] #24 closed

[2016-03-01 02:56] dbarbalato commented on #29
Fixed in 4.0.0

[2016-03-01 02:56] #29 closed

[2016-03-02 05:49] Restuta opened #44 "Question: Does 3.0 support stickyContainerClass?"
This isn't clear from docs and it doesn't seem to work for me after `npm install`.

[2016-03-02 22:13] vkreal opened #45 "Question: Where can i find 3.0 source branch?"
First of all very nice work! I can't seem to find the 3.0 source.

Thanks!

[2016-03-03 02:35] dbarbalato commented on #45
Sorry about that..... 3.0.0 docs/source are now available here:

https://github.com/captivationsoftware/react-sticky/tree/3.0.0

[2016-03-03 02:35] #45 closed

[2016-03-03 02:37] dbarbalato commented on #44
My fault with the confusion... All of the 3.0.0 source/docs are available via the link below

https://github.com/captivationsoftware/react-sticky/tree/3.0.0

[2016-03-03 02:37] #44 closed

[2016-03-03 02:38] Restuta commented on #44
@dbarbalato thanks, and as far as I can see 4 is not published yet to NPM any plans to maybe submit beta so I can play with it and test in my project?

[2016-03-03 02:45] dbarbalato commented on #44
So you are correct -- 4.0.0 is not yet published, however I am done with the rewrite, besides all of the test repairs. In the meantime, you can just `npm install captivationsoftware/react-sticky`. That said, 4.0.0 is coming very soon. Your feedback would be appreciated.

I feel really good about the new API though -- fully nestable, better defaults, and higher performance..

[2016-03-03 03:30] Restuta commented on #44
@dbarbalato yeah, awesome work, thanks a lot for it!

[2016-03-03 13:27] dbarbalato commented on #39
Actually, on re-reading this: This feature already exists in 3.0.0. Just set topOffset to the height of the element you are making sticky.

[2016-03-03 13:27] #39 closed

[2016-03-03 13:56] dbarbalato commented on #40
I see what you're saying... Its def possible, but not with 3.0.0. I'll consider it for 4.0.0

[2016-03-03 14:01] dbarbalato commented on #40
so not 100% sure on this, but I would suggest giving this a try:

`<Sticky topOffset={-document. body.scrollHeight} stickyStyle={{ position: 'fixed', bottom: 0, ... })>`

With that negative top offset, the sticky state will always be activated regardless of scroll position. You would then use stickyStyle or stickyClass as you normally would, overriding the top attribute in favor of the bottom attr

[2016-03-03 14:01] #40 closed

[2016-03-03 17:04] vkreal commented on #45
Awesome thanks!

[2016-03-09 03:13] dbarbalato commented on #34
This should be fixed in 4.0.0 - reopen if you find otherwise

[2016-03-09 03:13] #34 closed

[2016-03-09 19:57] mrn3 opened #46 "Version 4"
Any idea on when version 4 will be in npm?

I am having problems using it straight from github:

In my packages.json file:

"react-sticky": "git://github.com/captivationsoftware/react-sticky.git",

when I do webpack build, it complains:

32% 20/53 build modulesModuleNotFoundError: Module not found: Error: Cannot resolve module 'react-sticky' in /app/reports/client/app/financials
    at /app/report

[2016-03-10 18:36] dbarbalato commented on #46
I'm just wrapping up tests.... I have addressed your issue on my local machine that I am yet to push.

I'm aiming for this weekend

[2016-03-10 19:30] mrn3 commented on #46
Okay sounds good thanks

[2016-03-11 00:41] Restuta commented on #46
@dbarbalato thanks for doing this, looking forward!

[2016-03-13 05:09] dbarbalato commented on #46
Released! Available on npm as 4.0.1 because I pushed a beta version up on accident...

[2016-03-13 05:09] #46 closed

[2016-03-13 11:40] mrn3 commented on #46
Great thanks!  Is there anything major you know of that isn't working with this release?

[2016-03-13 16:23] dbarbalato commented on #46
So I'm pretty confident this is the best release yet. Its def not compatible with v3, hence the change from 3 to 4, but I think the changes are for the best. Its far easier to get going with sticky elements right away.

Some issues I noticed:

1.) In doing some preliminary testing with a project using react-router, I noticed my sticky elements weren't updating during route events like I was expect

[2016-03-14 00:28] Restuta commented on #46
:tada:

[2016-03-14 13:06] yhjor1212 opened #47 "Do not work on 4.0.1"
Here are the results:

app.js:52954 Uncaught TypeError: Cannot read property 'updateOffset' of undefinedSticky._this.onScroll @ app.js:52954
bundle.js:149 failed, retry № 1 Error: Request to bg page (sync) rejected by timeout(…)

[2016-03-14 19:58] dbarbalato commented on #47
That looks like a Sticky doesn't have a context loaded... Any chance you're not using a <StickyContainer /> ?

[2016-03-16 20:57] mrberggg opened #48 "Weird behavior when scrolling"
Hard to describe so I uploaded a video. Basically when the window height is just barely tall enough to trigger the stickiness but not tall enough for it to go to its full height it will get into a loop (as long as the user continues to try to scroll).

[Bug.zip](https://github.com/captivationsoftware/react-sticky/files/176888/Bug.zip)

[2016-03-16 21:07] dbarbalato commented on #47
Hey its been a few days -- did my proposed fix help?

[2016-03-16 21:10] dbarbalato commented on #48
Thanks for taking a look and including the video --certainly is buggy behavior. I suspect it has something to do with the calculations surrounding the parent container's `getBoundingClientRect().bottom` value.

I spent way too much time on this rewrite so I need to take a mental break before tackling this fix myself -- say ~ 2 weeks. If anyone wants to handle it in the meantime I will get it merge

[2016-03-16 22:31] mrberggg commented on #48
Thanks for the quick response. I might have some free time in the next couple days, if so I'll look into it. It's being caused by the sticky element being removed from the flow by having position: sticky applied. Was thinking of adding an extra div that we can target, apply height of the div we're applying sticky to? Only way I can think of to avoid that jump behavior.

[2016-03-16 22:41] dbarbalato commented on #48
Are you using v4.0.1? The reason I ask is that extra div trick is being applied already: https://github.com/captivationsoftware/react-sticky/blob/master/src/sticky.js#L116, but that behavior is not present in previous versions

[2016-03-17 13:11] yhjor1212 commented on #47
Sorry man I was just too busy. I've overlooked the upgrade. Everything works fine now. Thanks a lot!

[2016-03-17 13:11] #47 closed

[2016-03-17 15:47] mrberggg commented on #48
I am using v4.0.1. You're right, it looks like it is already using that trick.

[2016-03-17 15:53] mrberggg commented on #48
Ok, found the issue. I had a margin-bottom on nav. I updated my styles so it's no longer an issue in my app. Should calculation account for this case though?

[2016-03-17 18:06] dbarbalato commented on #48
So yea, a Sticky that derives its height from the margins of its children do not behave that great right now. Maybe we should leave this issue open such that someone can tackle it they're feeling up to it, but I do not see myself personally making this fix.

[2016-03-18 14:17] mrberggg commented on #48
Yeah I don't know if it's worth the work. Probably worth documenting though. Thanks for your help!

[2016-03-18 18:46] Restuta commented on #48
@mrberggg would you mind sending a PR to improve documentation? Thanks in advance!

[2016-03-18 19:01] mrberggg commented on #48
@Restuta Sent a PR. I think we can close this.

[2016-03-18 19:01] #48 closed

[2016-03-22 22:52] johnb3136 opened #50 "Cannot get react-sticky to work unless it is full screen"
I'm trying to make react-sticky work on just a portion of the whole screen
I've recreated the timeline demo in a very stripped back fashion and made that work, but if I try to shrink it to less than full screen, the sticky behavior stops working.

I suspect it is missing CSS/HTML rather than a bug, so perhaps more of a documentation issue than code.

Stand alone demo attached. As is it shows worki

[2016-03-23 00:22] dbarbalato commented on #50
It would appear that the overflow:auto is the culprit. I don't have an explanation for you as to why this happens, however.

[2016-04-01 12:30] ibekavac opened #52 "How to unsticky an element when hitting footer?"
Is there a way for my sticky div to stop being sticky when hitting bottom of page, or footer or to set some offset?

[2016-04-06 12:10] barinbritva opened #53 "Can't override onStickyStateChange handler"
`<Sticky onStickyStateChange={this.onStickyStateChange.bind(this)}>`
This code does nothing. Helps only something like this:
`Sticky.defaultProps.onStickyStateChange = this.onStickyStateChange.bind(this)`
All others properties overrides.

[2016-04-06 13:05] barinbritva commented on #53
Was building bug in webpack.

[2016-04-06 13:05] #53 closed

[2016-04-11 20:53] dbarbalato commented on #52
Have you looked at bottomOffset? Additionally, you cant set the desired boundary of your stickyness via the height of your StickyContainer

[2016-04-12 01:24] leesiongchan opened #54 "React 15 compatibility?"
Is this safe to bump the version of `react` and `react-dom` to 15.0?

[2016-04-12 12:23] ibekavac commented on #52
@dbarbalato Yes I looked into it and it doesn't help. I can't even see any change with bottomOffset.

My sticky elements top should be attached to top of StickyContainer and that is working as expected but I want it to become unsticky when hitting bottom of StickyContainer. Lets see situation like this https://jsfiddle.net/24b21k6o/1/ I want it stop being sticky when bottom of sticky element is 50

[2016-04-13 05:41] timdoes opened #56 "[Feature Request] Add the ability to turn off on mobile"
First off, want to say thanks and love this!

Do you have any plans to create an option to disable sticky on mobile?

Thanks,

-Tim

[2016-04-13 12:06] dbarbalato commented on #56
I don't see this happening. I'd encourage you instead to do something like:

[code]

[2016-04-13 12:08] dbarbalato commented on #54
Done on master... will tag and publish to npm after some verification this weekend.

[2016-04-13 12:08] #54 closed

[2016-04-13 12:11] dbarbalato commented on #52
That sounds like the exact functionality of bottomOffset. Can you post your source code?

[2016-04-14 08:09] ibekavac commented on #52
Parent component

[code]

Child component
[code]

[2016-04-14 19:36] timdoes commented on #56
Thanks for the response.

Is this something you'd accept a PR for? Or do you not want to implement an on/off boolean?

[2016-04-14 19:45] echenley opened #58 "Publish v5.0.0 to NPM"
Latest NPM version is still at 4.0.2.

[2016-04-14 19:45] dbarbalato commented on #56
I would absolutely consider a PR which introduces the ability to toggle/activate the sticky, provided its done in a generic way. Something along the lines of `<Sticky isActive={true/false} />`. What I'm against is any sort of check to detect if the sticky is being viewed within a mobile browser, or anything outside the scope of just "stickyness".

[2016-04-14 19:49] dbarbalato commented on #58
So given my schedule, this is a bit lower priority for me. At best, I'll tackle it at some point this weekend. The holdup right now is failing tests as part of the most recent PR merge - I haven't looked into this at all yet. If someone wants to take initiaitive and get the tests passing before then, that would make things easier for me and would expedite publishing to npm.

Also, as a fair warnin

[2016-04-14 19:54] timdoes commented on #56
Thanks. I will get on it.

[2016-04-14 19:54] #56 closed

[2016-04-14 19:55] echenley commented on #58
https://github.com/captivationsoftware/react-sticky/pull/59

[2016-04-14 20:02] dbarbalato commented on #58
Thanks for taking care of that -- just merged it in.

[2016-04-17 12:52] halt-hammerzeit commented on #58
4.0.2 has react as a "dependency".
That's untolerable.

[2016-04-17 15:08] dbarbalato commented on #58
Published 5.0.0

[2016-04-17 15:08] #58 closed

[2016-04-17 22:57] dbarbalato commented on #52
Looks like you're using it correctly. Without having access to your complete project, I'm sort of at my limit as far as meaningful advice goes -- in the past, issues usually arise from various CSS rules.

I suggest you keep tweaking your CSS rules, but if that proves unsuccessful still, my company does offer consulting services. Mess

[2016-04-17 22:57] #52 closed

[2016-04-17 22:59] dbarbalato commented on #50
Closing because stale

[2016-04-18 06:59] ibekavac commented on #52
Thank you!

[2016-04-18 16:23] alejandronanez opened #61 "overflow-y: auto issue."
Hey there, I've found out that if we have an structure like this:

[code]

In this scenario ^. Sticky won't trigger at all, but if we remove the overflow-y or height from the container, it starts working again.

[2016-04-22 08:14] tiil opened #62 "Scrolling triggers render on all child components of StickyContainer"
Confirmed by modifying timeline example like so:

[code]

[code]

This absolute wrecks performance whenever your children are at all complex.

[2016-04-22 16:00] dbarbalato commented on #62
Yea, that's definitely unnecessary - good find on your part.

It will likely be a while before I can even attempt to tackle this myself, so I'll encourage the community to come up with suggestions and, better yet, PRs. Getting this fixed would be a big improvement that benefits everyone's frontend performance.

[2016-04-29 21:12] LawJolla commented on #61
Reading the code, react-sticky is hard coded for window scrolls, not scrolling elements.  I would love scrolling elements / sticky support, but I am not smart enough to do it.  Help anyone? :)

[2016-04-30 22:49] echenley commented on #62
Not saying this isn't an issue with this library (can't tell at a glance), but a simple `shouldComponentUpdate` or pure render decorator on children of `<Sticky>` would prevent these re-renders.

[2016-05-13 23:14] fullc0ntr0l opened #66 "Two sticky elements inside one Container"
I have something like:
 `<StickyContainer>
	<AppBar />
	<Sticky>
		<HeaderDiv>
		</HeaderDiv>
	</Sticky>
	<div class="col-xs-9">
		<Table />
	</div>
	<Sticky class="col-xs-3">
		<SomeContent />
	</Sticky>
</StickyContainer>`

I really like to stick only the <HeaderDiv> (to top) and <SomeContent> (top right, but positioned right after <HeaderDiv>. I have a strange behavior because of left: 0 proper

[2016-05-15 23:13] keyeh opened #67 "Recalculate height of <Sticky>"
If elements in `<Sticky>` are dynamically added/removed or if the height of elements inside are changed, the sticky's padding isn't recalculated.

Video Example:
https://youtu.be/YKk-uyKYxZA

Giving the Sticky component a ref and calling the the update() function only works if the Sticky is not active( isSticky: false)

[2016-05-17 14:29] Moezalez opened #68 "Header moves to background when scrolling"
The header does get sticky on scroll, though it scrolls behind the actually content and is not visible anymore.

[2016-05-17 21:48] pytkin commented on #56
@timdoes @dbarbalato how use this feature? Maybe I don't know how dynamically update props for nested components, but i'm really stuck with this.

[2016-05-17 22:33] keyeh commented on #56
@pytkin Try this for your render method:

[code]

[2016-05-17 22:47] dbarbalato commented on #68
Sounds like a CSS issue -- check your Z-Index properties and ensure that your sticky element's is higher than the content you're scrolling over

[2016-05-18 08:32] Moezalez commented on #68
Yes, that was it. Had to change the z-index to 1.

[2016-05-18 08:32] #68 closed

[2016-05-18 21:28] varandpez opened #69 "callback for active(current) Sticky"
I'd be nice if I could get current Sticky which is active (i.e. has the stickyStyle applied)

[2016-05-18 22:49] dbarbalato commented on #69
This can easily be achieved using the "onStickyStateChange" callback and some refs.

[2016-05-18 23:26] varandpez commented on #69
I'm not sure how, I tried adding dynamic `ref` to `Sticky`s but the thing is that `this` is not passed in as argument in the mentioned callback.

[2016-05-19 01:16] dbarbalato commented on #62
Just did a big performance upgrade (special thanks to @phestermcs  for the main idea) that should significantly cut the number of redraws required.

Changes are available on npm as 5.0.1 -- any feedback would be great, but I'd be equally happy with a closed issue :)

[2016-05-19 01:18] dbarbalato commented on #67
Your issue may be covered by a fix applied to 5.0.1, care of @lauriejones. It's available on npm now so your feedback would be great -- thanks!

[2016-05-19 01:34] dbarbalato commented on #69
Ok, I see what you're saying now -- what is it you're trying to do that requires an additional argument?

[2016-05-19 05:28] varandpez commented on #69
Honestly I want to do a very simple task,  I want to show/hide divs on active Sticky, but I don't get the reference of it.

[2016-05-19 13:36] dbarbalato commented on #69
Have you tried using CSS rules? All sticky classes will have the sticky class, so you could write a rule like:
[code]

[2016-05-19 13:41] nvartolomei opened #70 "Regression introduced in v5.0.1, sticky element position not changed on horizontal scrolling"
### How to reproduce

1. Go to http://rawgit.com/captivationsoftware/react-sticky/master/examples/timeline/index.html
1. Open inspector and add `min-width: 1000px` to `body`
1. Resize browser window to < 1000px
1. Scroll page a lil bit down so sticky element sticks
1. Scroll page horizontally

### Expected behaviour

Sticky element moving horizontally with page, this behaviour is for v5.0.0.

###

[2016-05-19 15:12] dbarbalato commented on #70
Good find -- want to take a stab at the fix?

[2016-05-19 16:16] varandpez commented on #69
I handed the responsibility to jQuery like this:
[code]

But I don't really like this approach since it's not 100% in react way.

[2016-05-19 16:19] andreypopp commented on #50
If `overscroll: auto` is set then I believe `scroll` event doesn't trigger on window. The issue is valid.

[2016-05-19 20:51] nvartolomei commented on #70
Can't get my head around where to put the checks. What do you think about this?

[code]

Likely this should go to `update` method too.
Quick question: why in the `update` method `isSticky` is defined as `this.isSticky(pageY, origin);`, but in `onScroll` it is defined like `this.isSticky(pageY, this.state.origin)`

[2016-05-19 22:43] varandpez opened #71 "More about header"
I'm using CSS libraries and of course I have fixed header(or some of them call it sticky header/footer).
When I wrap my header component inside Sticky `<header>` some conflicts are starting to happen. First there are issues with `z-index` but that's not big of a deal. My main issue is that css transition is not happening a well as it used to, Since Sticky `<header>` is using fixed positioning.

I'

[2016-05-19 23:39] dbarbalato commented on #70
Before doing anything too fancy, see if calling this.forceUpdate() in  the onResize handler has any positive effects.

As for the difference between those two functions -- I honestly don't remember. Its entirely possible that it was at one point necessary but is not any longer. Wish I had a more meaningful answer...

[2016-05-19 23:41] dbarbalato commented on #70
For what its worth, what you have isn't bad. Given the additional complexity, I would prefer to see a test or two, which would help prevent this from being an issue in the future.

Thanks for taking the time!

[2016-05-20 08:31] nvartolomei commented on #70
It does, but in this case Sticky will be rendered on each scroll event, which we want to avoid.

[2016-05-20 17:09] varandpez opened #73 "Is it possible to have Sticky anywhere on the page?"
I have a `fixed` positioned div and I want to have `Sticky`s in it and act like that div is the top of the page.
Is that possible?

[2016-05-20 17:25] dbarbalato commented on #73
I do not want to sound discouraging, but this is not a legitimate issue. I suggest you do some experimentation on your own, and if you find that react-sticky is not fitting your needs, submit a PR for further review.

[2016-05-20 17:25] #73 closed

[2016-05-22 16:47] dbarbalato commented on #70
Should be fixed in 5.0.2, which was just published. It doesn't use your changes, however. If you want to confirm that this does, in fact, resolve the issues you were seeing, then I can re-close this.

Thanks again!

[2016-05-22 20:03] nvartolomei commented on #70
@dbarbalato your fix doesn't fix horizontal scrolling issue, follow steps to reproduce the issue.

[2016-05-22 20:21] dbarbalato commented on #70
Hahaha -- *NOW* I see what your issue is fixing -- Not gonna lie: I was a bit confused.

I have confirmed that your PR in fact corrects the issue, and does so in a better way than what I had pushed out. I'll take care of the rest... Good job -- its appreciated!

[2016-05-22 20:31] nvartolomei commented on #70
@dbarbalato please see #75, though this was a quick and dirty change to fix bug happening on resize. It needs lil bit of cleaning, will try to do this tomorrow.

[2016-05-23 08:35] 92hackers opened #76 "i get into trouble when using it."
when i scroll down over padding-bottom, than  padding-bottom change to become 0, and scroll stops.

how to fix this, or my wrong config ?

hope to get your reply as soon as possible.

[2016-05-23 08:45] 92hackers commented on #76
i solve this problem successfully,
i put <StickyContainer> wrongly.
to be honest,
you could make documentation more detail,

at last,  great thanks to your hard work.
 👍

[2016-05-24 13:04] #76 closed

[2016-05-24 20:04] pvande commented on #62
Definitely still an issue in 5.0.2.

`shouldComponentUpdate` helps, but there's still a noticeable performance cost associated, especially with a large number of components.

[2016-05-25 20:35] nvartolomei commented on #62
@pvande can you show a demo of this issue happening? codepen/jsfiddle please

[2016-05-25 20:36] #70 closed

[2016-05-25 20:41] nvartolomei opened #77 "When sticky is outside is outside of the screen (past container) it does useless renders"
_will try to add more info soon_

[2016-05-25 20:48] nvartolomei commented on #77
@lauriejones can you take a look into it? I think we need one more check in `updateOffset` method.

[2016-05-25 21:54] pvande commented on #62
http://codepen.io/anon/pen/PzYKrZ

Dots are appended to the "log" on the right side whenever the `NonStickyComponent` renders; note that it re-renders both at the top of the page (as the component toggles `isSticky`) and that it constantly re-renders on the bottom half of the page (after scrolling past the bottom of the `StickyContainer`).

[2016-05-26 05:32] nvartolomei commented on #77
Actually the same as #72

[2016-05-26 05:32] #77 closed

[2016-05-26 05:33] nvartolomei commented on #62
@pvande definitely an issue. The bounds verification is incomplete.
@lauriejones can you take a look into it? I think we need one more check in updateOffset method.

[2016-05-26 15:20] pvande commented on #62
@nvartolomei Any render count for the NonStickyComponent greater than _one_ is a problem.

I'm working on a patch for this and another issue I've found (filing soon).

[2016-05-26 15:36] pvande opened #78 "Returning false from `shouldComponentUpdate` disables react-sticky"
http://codepen.io/anon/pen/xOKaBa

[2016-05-27 10:24] 92hackers opened #81 "bottomOffset not work"
i set bottomOffset value,   but it still scroll down to footer.

![2016-05-27 18 24 06](https://cloud.githubusercontent.com/assets/5372618/15605392/40ad8502-2438-11e6-9bf5-d4386df84c73.png)

how to solve this problem ?

[2016-05-27 16:33] pvande opened #82 "Multiple `Sticky` components per-`Container` are contraindicated."
In the event that two `Sticky` nodes are added to the same `Container`, both _will_ independently stick when scrolling (as intended).  However, if they share horizontal space, they will overlap one another rather than "stack".

This is not an immediate problem (and may sometimes be desirable), but likely warrants some documentation and possibly a warning.

[2016-05-27 16:39] pvande opened #83 "`Sticky` components don't inherit their width from applied styles or classes."
Codepen: http://codepen.io/anon/pen/yJLNxq

In the example, the `Sticky` component has an applied class that specifies its width, but once it becomes sticky, that width is overridden (by the width of `this.refs.placeholder`).

[2016-05-30 03:49] BarryThePenguin opened #84 "bottomOffset when Sticky element is not in viewport"
I have a Sticky element that has both a top and bottom offset. When the stuck at the bottom of the container, the top of the Sticky element is not in the viewport. When scrolling up, the top of the element doesn't appear until the element is stuck at the top of the container again.

I made a jsbin to show the behaviour http://output.jsbin.com/dupagu

I've been using this component successfully so

[2016-06-01 01:08] avital commented on #62
Amazing! How cool is this that I noticed this just today and it's JUST been fixed. I verified locally by building react-sticky myself that it fixed my app's problem, but we need a formal new release to get the rest of the team using it. Is there an ETA for a new release?

cc @carlosbergfeld

[2016-06-01 01:15] dbarbalato commented on #62
5.0.3 is now available on npm

[2016-06-01 01:17] avital commented on #62
Great!!
On May 31, 2016 6:15 PM, "Dave Barbalato" <notifications@github.com> wrote:

[2016-06-01 03:11] pvande commented on #62
Verified as resolved in v5.0.3.

[2016-06-01 03:11] #62 closed

[2016-06-01 03:29] pvande commented on #66
I'm interpreting your problem as looking something like this:

[code]

If my guess is right, your "sidebar" _is_ sticking – to the top of the screen instead of right below the header.  This is actually a fairly easily solved.

You'll want something like this:

[code]

`StickyContainer`s will communicate to their children when a `Sticky` element is attached, and the nested `StickyContainer`s will a

[2016-06-01 03:32] pvande commented on #67
v5.0.3 significantly changed the timing of computing `<Sticky>` height; please let us know if fixes the issue for you.

[2016-06-01 03:38] pvande commented on #69
If you're showing or hiding children of the `Sticky` node, using CSS is most likely the "correct" approach here.

[code]

[code]

The default `sticky` class name can also be customized with the `stickyClassName` prop, if desired.

[2016-06-01 04:01] pvande commented on #71
I'm assuming you're using a library like Bootstrap for your CSS, which uses `position: fixed` and a `top: 0` (or `bottom: 0`) for their "sticky headers" (and footers).

The good news is that you can absolutely use `react-sticky` alongside those headers.

By default, `react-sticky` wants to attach `Sticky` components once they've been scrolled to the top of the window, and it will attach those elem

[2016-06-01 04:04] pvande commented on #81
It's difficult to tell how your components are structured or what your expected behavior is from this screenshot.  Would you mind putting together an example by forking [this Codepen](http://codepen.io/anon/pen/EyaWMw)?

[2016-06-01 04:09] pvande commented on #78
This has been fixed in v.5.0.3.

[2016-06-01 04:09] #78 closed

[2016-06-01 04:15] pvande commented on #84
v5.0.3 was released today, and appears to have solved the problem demonstrated in your JSBin.  Please take a look at the new version and see if that helps!

[2016-06-01 04:53] BarryThePenguin commented on #84
Wow! Just saw your PR that got merged. That's impressive work. This has fixed the issue. You can see it working on our site http://vision100it.github.io/documentation/sparkleshare

Thanks!

[2016-06-01 04:53] #84 closed

[2016-06-01 05:35] pvande commented on #84
Awesome!  Glad to hear it worked, and thanks for sharing!

On Tuesday, May 31, 2016, Jonathan Haines <notifications@github.com> wrote:

[2016-06-01 16:44] fullc0ntr0l commented on #66
It works but the sticky side bar is moved to the left when stickiness is activated but I want to leave it to the right. Should I create css rules for sticky class for that?

[2016-06-01 16:51] fullc0ntr0l commented on #66
Nvm, thanks a lot, solved that with float right on first child inside <Sticky> component.

[2016-06-01 16:54] pvande commented on #66
Great!  Happy to have helped!

[2016-06-01 16:54] #66 closed

[2016-06-02 06:50] pvande opened #85 ""Sub-page" `Sticky` Components"
This ticket is specifically for discussion of supporting `<Sticky>` elements attached to in-document scrollable elements.

As an example of such a case:

[code]

There are two ways to interpret the expectation in this case:
- When `<Sticky>` is scrolled to the top of the `scrollable` element, it sticks to the top of the _window_.
- When `<Sticky>` is scrolled to the top of the `scrollable` element

[2016-06-02 06:52] pvande commented on #85
Related to #50, #61, and #79.

[2016-06-02 11:10] 92hackers commented on #81
i have already get it down,   i have not set height of that box, and the data of it is dynamic, so.
it would be better if you write doc more detail.

[2016-06-02 15:03] pvande commented on #81
I can definitely agree that some of the documentation can stand to be improved.

[Here](http://codepen.io/anon/pen/yJydgq) is an example of how the `bottomOffset` property is supposed to function.  Some of this behavior may have been broken in versions older than v5.0.3; please do try upgrading if the behavior you're seeing doesn't match that example.

Hope this helps!

[2016-06-02 18:33] keyeh commented on #67
5.0.3 worked for me.

[2016-06-02 18:33] #67 closed

[2016-06-03 01:05] emilong commented on #85
Awesome writeup! Here are my votes, FWIW:

1.B with ScrollableStickyContainer. I'm thinking that's the more backward compatible route?
2. No opinion, not sure of the implications of either tbh.
3.B. Seems to get both 1 and 3 in the same effort?

Thanks!

[2016-06-03 04:55] pvande commented on #85
I don't view 1.A and 1.B as wildly incompatible, but I feel like 1.B is easier to explain and understand.  The biggest difference between the options is flexibility, but _if_ option 1.B were acceptably flexible, it's probably preferable.

As far as Catch 2 goes, 2.A is simpler to implement and understand, but again, restricts the styles that can be applied to the scrollable container (specifically

[2016-06-04 05:22] 92hackers commented on #81
so clearly of your example, thanks,
by the way, if the data of Sticky box is dynamic loading, and changing, the bottomOffset is not work, there is not a height of the Sticky box, maybe you get that value in the initial time,  so ,  now my solution is to set a fixed height value of Sticky box, and problem solved, if you have better ways.

so happy to talk about with you.

[2016-06-04 17:32] pvande opened #86 "Changes to Sticky content height don't trigger `recomputeState`"
When we make a component Sticky, we take it out of the flow of the document so that we can maintain its position.  To prevent document reflow, we also add an appropriate amount of padding to a placeholder element, which maintains the position for everything else on the page.  However, the positioned element no longer contributes height to its parent, which means that content changes inside that st

[2016-06-04 17:43] pvande commented on #86
There are a couple of reasons this fails.  The first is that we're measuring the height of the wrong node – we're measuring the `<Sticky>` div, not the node that actually has the content.

Correcting that behavior alone is insufficient, however, since we only trigger `recomputeState` on interactions (e.g. `onScroll`) and `componentWillReceiveProps`.  Animations, deferred image loads, and out-of-ba

[2016-06-04 17:45] pvande commented on #81
@92hackers I've documented the bug around dynamic Sticky heights in #86 – thanks for calling that out!  In the meantime, a fixed height is going to be the best option if you're depending on the `bottomOffset`.

Thanks!

[2016-06-04 17:45] #81 closed

[2016-06-04 18:04] dbarbalato commented on #86
You bring up some good points @pvande. My preference would be to push the responsibility of re-measuring onto the user via a prop. MutationObservers could work, but I suspect it would result in new issues down the road when it inevitably fails to meet the needs of a new edge case.

By giving the control to the implementer, the library has to make fewer assumptions. In turn, anyone who is doing som

[2016-06-04 19:27] pvande commented on #86
I agree with you in principle, but I'm not sure that we can reasonably defer this to the library user.  Most of the "tricky" cases around this aren't things that are directly under the user's control or a part of their awareness.  If a library user encounters the case where scrolling before all the page's images have loaded causes the sticky header to cover content, it's not actually fair or reaso

[2016-06-04 19:59] dbarbalato commented on #86
Good breakdown.

Past versions of react-sticky made use of `requestAnimationFrame` polyfills (e.g raf) with success, and this could give cause to bring it back. Come to think of it, it _might_ be possible to remove the scroll/resize event listeners altogether, and instead rely on each tick of `requestAnimationFrame` to compare distance from StickyContainer bounds and redraw accordingly -- ideally

[2016-06-04 23:20] pvande commented on #86
My biggest concern with the `requestAnimationFrame` loop would be performance – that's adding a lot of "active" code time.  How was it being used before, and what was the performance like??

[2016-06-05 00:42] dbarbalato commented on #86
There was no noticeable performance penalty in the past, granted the lib is much different now and has expanded in its capabilities.Since you asked, it was basically implemented as recommended in this article: http://ejohn.org/blog/learning-from-twitter/

As to your concern, if all the raf loop did was check its position relative to the bounds of its container, and only performed the redraw when a

[2016-06-08 01:02] aaronjensen opened #87 "Sticky should recomputeState on mount"
Sometimes a sticky component comes into existence and should already be stuck. Since `recomputeState` isn't called until after a scroll or some other trigger, the element jumps.

This would likely be fixed by switching to `requestAnimationFrame` as discussed in https://github.com/captivationsoftware/react-sticky/issues/86

For a workaround:

[code]

[2016-06-08 03:15] warmhug commented on #85
Awesome, when will achieve?

[2016-06-08 14:31] claudiamatosa opened #88 "Custom element for StickyContainer"
I have a case where I need the sticky container to be a section, but don't want to have an extra wrapper around the content. Would it make sense to allow passing in a custom html tag as a prop?

[2016-06-13 15:09] varandpez commented on #71
I see what you're saying... yes the reason is exactly like that. I added your piece of code and it worked, however `Sticky`s do not behave as example. In example you can see `Sticky` pushes the other `Sticky` up, but with your approach it goes beneath it and suddenly replaces itself with old one. Ehh I guess I can go this way

[2016-06-13 15:48] pvande commented on #71
Which example are you referring to?

If you're seeing any "sudden" behavior from the library, it's probably not functioning as intended.  Any chance I could ask you to put together a Codepen demonstrating the behavior you're seeing?

[2016-06-13 15:49] jtanguy opened #90 "Sticky footer ?"
I wondered if it possible to use this library to make a sticky 'footer', i.e. an element fixed at the bottom until the user scrolls down the page to the "original" place, above a footer for example ?

[2016-06-13 18:35] pvande commented on #90
Not at this time, unfortunately.

[2016-06-13 18:40] pvande commented on #88
That's not a particularly common pattern in most React components I've encountered.  What's your use case?  Is the fact that the Container is a `div` actively preventing you from making use of the library?

[2016-06-13 18:44] pvande commented on #87
What version of the library are you using?  In v5.0.3, as per https://github.com/captivationsoftware/react-sticky/blob/3eae2db82edbd5fea3f2142dd827465222d46568/src/sticky.js#L44, `recomputeState` *is* called on `componentDidMount`...

[2016-06-13 19:15] pvande commented on #86
At this point, I'm still not convinced that `requestAnimationFrame` would be the best tool _to solve this issue_.  The ejohn article you linked is about debouncing continuous events – which makes perfect sense, and is something we should *absolutely* do.  There's no reason we should be doing as much work as we are more often than it will be reflected on screen, and debouncing with `rAF` helps us m

[2016-06-13 23:15] dbarbalato commented on #88
This functionality was part of early react-sticky, but I opted to remove it when transitioning from v3 to v4 because React patterns had matured a good bit in that time, and allowing for any tag name seemed to encourage unconventional implementations.

Having said that, #91 mentions the use of `Sticky`'s in a table, which I hadn't considered. I could easily conceive of a situation where someone wou

[2016-06-14 00:18] aaronjensen commented on #87
hmm, sure enough. Not sure what I was seeing, but it was necessary on what I installed from npm and isn't on my master version. Odd. Closing out.

[2016-06-14 00:18] #87 closed

[2016-06-14 00:22] pvande commented on #88
The same mechanism would absolutely need to be added to `Sticky` elements.

A much more flexible solution would be to replace the `Container` and `Sticky` components with higher-order components that inject additional behavior into the components they wrap.  This would permit users to give "stickiness" to whatever components they wanted, but at the cost of potentially making the library harder to

[2016-06-14 09:14] warmhug opened #92 "Mobile browser compatible"
On mobile browser, like ios or android, it fire onscroll event when end scroll, this is not good experience.
So, maybe use `ontouchmove` event instead of `onscroll` event will be better.

[2016-06-14 09:21] claudiamatosa commented on #88
My use case is a page `section` that contains a sticky help sidebar. Not being able to pick the tag is not preventing me from using the library at all, it only requires adding an extra wrapper around the sticky element or section contents.

I'm considering the applications of this library in an app that makes full use of HTML5 tags. For example, considering the use case above, we can add `StickyCo

[2016-06-14 19:23] jasonwbullok opened #93 "Attaching class on sticky 'end'"
Is it possible to attach a class once the sticky behavior has 'ended'? For instance, the user has scrolled past the section but differing styles need to be applied.

I can use the onStickyStateChange callback to test for the isSticky property but this doesn't differentiate between before and after sticky states.

[2016-06-15 00:46] aaronjensen opened #94 "Cannot read property 'getBoundingClientRect' of undefined"
I'm not sure how to reproduce it, but we just got a report for the above error on the line:

https://github.com/captivationsoftware/react-sticky/blob/master/src/sticky.js#L69

[code]

[2016-06-15 15:17] oyeanuj opened #95 "Feature Request: Quick Return sticky headers"
Hi folks! This library looks great - thank you for open-sourcing it!

Since it call itself the 'most powerful' sticky library :), I wanted to check if it currently supports or plan to support 'quick-return' sticky headers (that disappear on scroll down and re-appear and stick on scroll-up)? Examples can be seen here - https://github.com/KyleAMathews/react-headroom

Thank you!

[2016-06-15 19:06] homeslicesolutions commented on #88
I see, I guess implementing a higher order component would be the solution for me and makes complete sense.  Maybe this can be something added to the README with some notes?  (BTW, this is a great plugin, and going through the codebase proves that React provides the correct base to make this plugin in)

[2016-06-21 18:17] homeslicesolutions commented on #88
So instead of a HOC, I decided to just extend the class and add the option to place a optional tag name.  We're so into this HOC that we forget that sometimes it's just a simple OO approach to extend a class =)  Here is the code if anyone is interested:

[code]

[2016-06-21 18:45] pvande commented on #92
What version of react-sticky are you using?

We [are](https://github.com/captivationsoftware/react-sticky/blob/master/src/sticky.js#L43) subscribing to the various touch events in at least the last few releases.

[2016-06-22 12:08] warmhug commented on #92
I see that, but it seems not very good, whether test performance on mobile?

[2016-06-22 15:18] pvande commented on #92
I definitely agree that it doesn't function correctly on mobile platforms.  We're still looking for solutions that will help us close the gap and make mobile browsers behave similarly – the `touch` events are not that solution, unfortunately.

[2016-06-23 21:30] celiofonseca opened #97 "Hide on scroll down, show on scroll up?"
Hi,

I'm trying to replace my old `react-headroom` header and use a better solution...

I really liked `react-sticky` solution but i have a doubt.

Is there a way to sticky my header and...
    - hide when scrolling down
    - show when scrolling up
?

[2016-07-01 05:05] Benjamin5050 opened #98 "react-sticky for fixed/sticky header not working"
I want to use react-sticky to create my header and footer component.

App.js:

[code]

Header.js:

[code]

SomeContent.js:

[code]

The page is displaying App.js including both Header and SomeContent. However if I scroll down, the Header is not sticky/fixed in its position. It moves up like any normal div. Where am I missing? Please help me. Thank you.

[2016-07-01 21:08] pivotal-csaa opened #99 "React 15.2 causes console warnings for Sticky component"
React 15.2 included a change to throw console errors for unrecognized attributes:

[code]

See react release notes here: https://github.com/facebook/react/blob/master/CHANGELOG.md#react-dom

[2016-07-04 06:49] obibring opened #100 "Compatibility with React Bootstrap?"
I'm attempting to get this library working with a React Bootstrap application, but can't seem to get it to do so. I have a simple test Component:
[code]
When I run this code, the `<Col>` nested inside of `<Sticky>` scrolls as normal for the first 50px (the value of `topOffset`), and then abruptly disappears from view entirely. This happens at the moment the `sticky` css class is added. Is there a

[2016-07-04 17:47] dbarbalato commented on #100
There is no known compatibility issue with bootstrap proper -- in fact, all of the examples are using bootstrap. As for React Bootstrap, no idea... Some basic troubleshooting would be to look at your z-indexes -- maybe your sticky element is getting masked by another?

Assuming that you want that top row to be sticky as you scroll, I suggest you change your syntax to the following:

[code]

In you

[2016-07-04 17:50] dbarbalato commented on #99
Anyone want to take a stab at the fix?

[2016-07-04 17:52] dbarbalato commented on #98
In App.js, make the outermost `div` a `StickyContainer` instead and it should start to work. A `StickyContainer` is the area in which a `Sticky` element becomes fixed

[2016-07-04 18:00] dbarbalato commented on #97
Not implemented by us, although you could get this going yourself -- just write some code that detects if the browser was scrolled up or down and toggle style/classes on your `Sticky` elements accordingly.

Just as an FYI, if you are unable to write this yourself, Captivation is a software services company and can get some code to you quickly -- just send an email to info@captivationsoftware.com.

[2016-07-04 18:00] #97 closed

[2016-07-04 18:03] dbarbalato commented on #95
see reply to #97

[2016-07-04 18:03] #95 closed

[2016-07-04 18:05] dbarbalato commented on #94
Are you doing any DOM manipulation outside of React?

[2016-07-04 18:10] dbarbalato commented on #93
It is possible to produce that effect, but not using this library at this time. It would not be difficult to introduce another argument to the onStickyStateChange callback, indicating if it is before or after the StickyContainer. If you were to submit a PR with this change, I would merge it in for the next minor release.

If you are unable to implement this yourself, Captivation can do it for a fe

[2016-07-04 18:10] #93 closed

[2016-07-05 15:27] aaronjensen commented on #94
We're not, but it's possible that the users who got that error has a browser plugin that does. We haven't seen the error in 3 weeks, but it did happen to 4 people, all on Chrome.

[2016-07-07 12:12] 2oo commented on #94
My colleague encountered the same problem on his machine. Furthermore, it happens to him in every browser: Chrome, Safari, Firefox and Opera. There is a difference in Firefox which didn't show any console output (it should have) but the page was broken in an exact same way it was broken on other browsers.

When we console.logged this.refs.placeholder (from getDistanceFromTop method) he got undefin

[2016-07-07 16:27] pvande commented on #94
@2oo Is this behavior still triggering for him if you build against an older version of React (e.g. v15.0.1)?

[2016-07-08 13:56] 2oo commented on #94
@pvande Yes, it occurred with React 15.0.1 as well.

Also, except for 'Cannot read property' error there is this one:
`Error: addComponentAsRefTo(...): Only a ReactOwner can have refs. You might be adding a ref to a component that was not created inside a component's `render` method, or you have multiple copies of React loaded`

If anyone has an idea what else to check we'll be glad to help.

[2016-07-10 06:00] adamkpurdy commented on #98
I had the same issue, and @dbarbalato solution solved my problem. Thanks man!

[2016-07-12 06:37] obibring commented on #100
Thanks for your help!

[2016-07-13 20:33] 2oo commented on #94
It appears that in some cases for some reason there are two copies of React running if you import npm version of react-sticky. Instead of importing npm version I used es6 source code and built the whole app with one webpack config. It worked!

[2016-07-13 21:24] pvande commented on #94
That's a fascinating lead...  Thanks for doing the legwork on that!

/cc @dbarbalato

[2016-07-13 21:24] #100 closed

[2016-07-18 07:13] jameslnewell opened #108 "X offset is wrong when the element is transitioned in"
I'm using `react-router` and a `<Sticky>` element that is transitioned from off the screen using `ReactCSSTransitionGroup`. When the route changes I'm scrolling to the top of the page using `browserHistory.listen(() => window.scrollTo(0, 0));`. Mid-transition, the scroll triggers `react-sticky` to recompute the values and the `<Sticky>` element remains fixed part way off the screen on the x-axis.

[2016-07-18 16:14] clintharris commented on #85
+1

[2016-07-19 22:56] AntonVoltchok commented on #85
A little note about the "fixed" issue, a little while we rolled out a simpler version of Sticky and by accident I ran into the fact that you can nest fixed elements in relation to each other not the window with just CSS, when you apply any 3rd transformation on the parent , it's children are now on a coordinate system based on the parent, so the window width now becomes the parent width, I looked

[2016-07-24 02:09] infacq opened #110 "Support for position: sticky"
Is there any way we can adopt `position: sticky`?

[2016-07-26 21:13] paraboom opened #111 "Unnecessary recalculation of state"
I use `react-sticky` along with `ReactCSSTransitionGroup` for some animations (these animations not inside a sticky element). I noticed the following issue: when I use `ReactCSSTransitionGroup` on the same page with `react-sticky` transitions act weird and skip entering animation for elements. I checked the code and found that for every change of properties there is a recalculation for the whole s

[2016-08-02 23:03] osdiab commented on #111
+1 to this. I noticed that this library causes significant slowdowns on pages with much complexity. You see that almost everything in the screen gets rerenders triggered on them, to the point that running this in IE10 on a high-end laptop causes scrolling to get choppy; and using Chrome's experimental CPU throttling replicates the same behavior.

Ideally the only time state should actually change

[2016-08-03 20:23] osdiab commented on #111
With `react-sticky`, redraws everywhere (the stutters in the gif are due to poor performance, not GIF recording):

![choppy2](https://cloud.githubusercontent.com/assets/1890926/17380715/5e38fa32-597d-11e6-8aec-666db6a4765e.gif)

With same code, except not using react-sticky but instead a custom implementation that only calls `setState` on sticky state change:

![smooth2](https://cloud.githubuserco

[2016-08-04 10:29] MrChe opened #112 "StickyContainer not stretched height"
I create component StickyNavigation and include react-sticky http://take.ms/ETe54
After i see, StickyContainer not strached and my navigation not scroll http://take.ms/j5w9M
http://take.ms/AnTZN

[2016-08-08 19:22] damonbauer commented on #83
Having the same "issue". Furthermore, I've got some CSS animations that transition the width at certain breakpoints... there's no way for me to add that code to the `<Sticky style={} />`.

[2016-08-24 07:51] KRav007 opened #114 "Cannot read property 'subscribe' of undefined"
Hi there, it seems that in this part is an error.

`_createClass(Sticky, [{
        key: 'componentWillMount',
        value: function componentWillMount() {
          this.channel = this.context['sticky-channel'];
          this.channel.subscribe(this.updateContext);
        }
      }, {`

[2016-08-29 12:23] #92 closed

[2016-08-29 12:25] dbarbalato commented on #114
Are you using the `<Sticky />` element within a `<StickyContainer />`?

[2016-08-29 15:29] neemzy commented on #99
If I'm not mistaken, the bug is still present in 5.0.4: https://github.com/captivationsoftware/react-sticky/blob/5.0.4/src/sticky.js

[2016-08-29 22:20] mengel9 commented on #92
When will this package version be published?

[2016-08-29 22:30] dbarbalato commented on #92
I'm planning to do it in my free time tonight.

Dave Barbalato
Owner, Captivation Software, LLC
dave.barbalato@captivationsoftware.com<mailto:dave.barbalato@captivationsoftware.com>
410-928-4157 ext. 101<tel:4109284157,,101>
________________________________
From: mengel9 <notifications@github.com>
Sent: Monday, August 29, 2016 6:20:05 PM
To: captivationsoftware/react-sticky
Cc: Dave Barbalato; Sta

[2016-08-30 01:05] dbarbalato commented on #92
Done - enjoy!

[2016-08-30 09:26] dotbear opened #116 "Applying `translateZ(0px);` breaks all fixed child elements"
After updating this package I found that my fixed-position mobile menus (children of the Sticky component) had broken.

Turns out (according to http://stackoverflow.com/questions/2637058/positions-fixed-doesnt-work-when-using-webkit-transform) you cannot have fixed elements as children of transformed elements.

`the fixed position of an element is broken if you apply transform to any ancestor.`

M

[2016-08-30 16:40] civesolimnadobols commented on #85
How unfortunate.
 So if by any chance you're using Material Design Lite, which uses position:absolute on its most outer layer .mdl-layout__container (being added by their js), then react-sticky is quite unusable at the moment. And i guess MDL is not the only one.

[2016-08-30 16:58] BinahLinden commented on #116
Same problem here.

[2016-08-30 17:18] mengel9 commented on #92
Great, thank you!

[2016-08-30 18:29] dbarbalato commented on #116
Roping in @nhardy as he is the author of the commit.

It may be possible to mitigate this side effect by only applying the transform during scroll/resize events, and removing it once the events stop. Doing so would (likely) improve the symptoms of #92....

The more immediate alternatives are to revert and reopen #92, OR to keep it as is and force the user to adjust their markup/styles accordingly

[2016-08-30 19:28] dbarbalato commented on #116
Another possibility would be to accept a parameter that un-toggles the transform. This would allow implementers to disable the transform when their menu is opened, also resolving the issue.

[2016-08-30 20:46] nhardy commented on #116
@dbarbalato From what I read in the Stack Overflow post, the transform needs to be there both before and while the change to `position: fixed` is applied for the fix to work. If this is causing breaking changes for people, I think the best course of action would be to make the `transform: translateZ(0)` opt-in.
I'm happy to submit another PR for this later today, but if it's urgent, we could rever

[2016-08-30 21:36] dbarbalato commented on #116
I dunno that it's urgent -- anyone could use the previous version (5.0.4) to get past any issues they may be having. I'm especially less motivated to revert if a fix is due in soon.

Passing in the option as a prop seems best -- my only suggestion would be that it is opt-out, instead of opt-in -- that would mean that Sticky's behave optimally by default -- and that optimization could be disabled a

[2016-08-31 14:22] dotbear commented on #116
@dbarbalato yeah, we're just sticking with `5.0.4` for now.
A prop to disable/enable is a great idea!

[2016-09-01 19:27] adamaoc commented on #116
Seeing how the original issue was based on mobile browsers and the fix messed up our desktop web app, I'd say an opt-in for sure.

[2016-09-01 19:35] dbarbalato commented on #116
@adamaoc -- curious what your rendered markup/css looked like that resulted in issues -- can you provide some example jsx?

[2016-09-01 19:53] adamaoc commented on #116
@dbarbalato Here's a link to CodePen that basically shows the gist of the problem we had.

http://codepen.io/adamaoc/pen/QKWdzK

Basically, a model popping out of the react-sticky container. That model uses fixed positioning to work correctly.

[2016-09-01 20:24] dbarbalato commented on #116
Thanks...

For your use case (and similar), I would say that a modal within a `<Sticky />` doesn't seem like an optimal design. When you think about it, a `<Sticky />` and a modal have some overlapping concerns in terms of visual positioning, and in both cases DOM structure doesn't really matter. In other words, there is no benefit to structuring your data that way in terms of CSS.

I would say as

[2016-09-01 20:27] adamaoc commented on #116
I agree, and that's one of the things our team has already talked about but the fact is, this is how we structured our app and for the moment, updating the component breaks our app.

Thanks for the response.

[2016-09-01 20:34] dbarbalato commented on #116
Yea, understandable. No problem -- thanks for the input

[2016-09-02 01:15] BJTerry commented on #116
The use of translateZ also affected us but for a different reason. We were using z-index to control the stacking order of overlapping elements, and the translateZ causes the creation of a new stacking context which broke our layout by putting the sticky element below another element.

[2016-09-02 22:11] rxaviers opened #120 "Initial state bug when sticky element should begin active (with demo)"
Hi team, first of all thanks for the great component.

A reduced example of a bug that happened to me is below. Note the sticky element doesn't work when it's initialized in a moment it should be active. Forgive me if my description is incorrect or even if I'm misusing it.

| Normal behavior | ![normal](https://cloud.githubusercontent.com/assets/967155/18219372/7f59eb98-713f-11e6-9ce8-bbbf1ed791b7

[2016-09-04 09:20] jstevans commented on #110
Agreed! More info about avoiding [scroll-linked JS on MDN](https://developer.mozilla.org/en-US/docs/Mozilla/Performance/Scroll-linked_effects).

[2016-09-06 01:41] oeddyo commented on #97
Use react-headroom

@celiolatorraca

[2016-09-08 19:54] homeslicesolutions commented on #94
I am also running into this issue and it has nothing to do with multiple versions of React.  There is some "stickyness" because I am using Redux.  Now with Redux, components can "self-refresh" a maybe refresh quickly right before a refresh call from the parent component which say was planning planning to unmount that child component.  So because of that, maybe the sticky.js needs a fix to deal wit

[2016-09-08 20:07] pvande commented on #94
@homeslicesolutions If that's an accurate description of the problem, then it sounds like the problem actually lies with React's lifecycle methods not being called in a useful order.  Can you try logging the `react-sticky` lifecycle methods, and report back what you find?

[2016-09-09 16:45] Alorse opened #122 "Problem timeline in safari"
Hi,
Timeline not work in safari:

Your demo: http://rawgit.com/captivationsoftware/react-sticky/master/examples/timeline/index.html

Thank you.

[2016-09-11 04:28] SachaG opened #123 "Adding padding between sticky element and top of viewport"
Right now my sticky elements always stick flush against the top of the viewport, but I'd like to give them a little bit of padding.

I did see the `topOffset` property, but as far as I can tell this only controls when the stickiness *triggers*, it still ends up sticking in the same place a `top: 0`.

I thought about using regular CSS padding, but that doesn't work because it pushes the element dow

[2016-09-12 23:35] homeslicesolutions commented on #94
@pvande possibly yes.  But I know that I'm not the only one that have issues with React lifecycle and integration with Flux.   I believe React is finding a way to mitigate this.  In the meantime, an easy fix can be included in the react-sticky codebase.  Just a simple check for "null" when you're trying to pull the "placeholder" node in the sticky codebase.   I'll send a PR soon.

[2016-09-12 23:59] pvande commented on #94
@homeslicesolutions I would be very interested in seeing an example that fired the lifecycle methods out of order.  This [Codepen](http://codepen.io/anon/pen/EyaWMw) is a great place to start a bug report from...

[2016-09-13 01:51] homeslicesolutions commented on #94
@pvande So to preface my issue.  We are stuck at React v14 right now for various admin reasons and possibly an upgrade to v15 would fix it because I believe they fixed some of their queueing issues.  So maybe this issue is a non-issue, but I do have a PR anyway if you like to consider the small change:  https://github.com/captivationsoftware/react-sticky/pull/124.   BTW, this change made my applic

[2016-09-13 19:11] pvande commented on #94
@homeslicesolutions To be clear, if react-sticky isn't working with React 14, I still consider that a problem.  My primary concern is in making sure that we're solving the right problem – I don't doubt that a null check makes the error go away, but knowing why/how we're getting a null where we don't believe we should may uncover deeper problems (either in our code or in React).

If we're using Rea

[2016-09-13 20:00] homeslicesolutions commented on #94
@pvande  I completely understand.  I found out didn't have anything to do with React versions. So I took some time yesterday and today really looking into the react-sticky and in our code and I realized that the null check is unnecessary and the error shouldn't happen.  But, I can send you a video of the error happening if you have an email I can send to.

I concluded the error happened because of

[2016-09-13 20:13] pvande commented on #94
@homeslicesolutions No worries!  I'm glad everything worked out!

[2016-09-14 09:58] catamphetamine opened #125 "What about placeholding elements with margins?"
https://github.com/captivationsoftware/react-sticky/blob/master/src/sticky.js#L65

[code]

But `getBoundingClientRect()` doesn't account for margin.
And therefore the element's placeholder is shorter and it creates a jumping glitch when entering sticky mode.

[2016-09-16 15:36] decisionmechanics commented on #46
@dbarbalato. I'm coming across the problem with react-sticky not working with route correctly. You mean that it should be handled on a project specific basis. Any tips on how to do that?

[2016-09-16 16:07] dbarbalato commented on #46
Sorry, I don't personally have any. Maybe somebody else will...

[2016-09-16 18:52] femesq opened #126 "Animated and Variable-Height TopBar"
I'm trying to do this effect[http://callmenick.com/_development/resize-header-on-scroll/], using cascated `Sticky` components, with `<div class="spacer">` objects, but without success:

[code]

Result:
![image](https://cloud.githubusercontent.com/assets/1899668/18597544/e955fb3c-7c24-11e6-94e4-7c0a9dc8497f.png)

The idea was to make `<div class="stk_spacer*">` be overlaped by next elements, and th

[2016-09-19 00:56] SachaG commented on #123
Any hints?

[2016-09-21 04:46] agungsb commented on #114
I'm experiencing the same issue and I use <Sticky /> element inside <StickyContainer /> element. Any thoughts?

[2016-09-21 20:02] Alorse commented on #122
Now I can fix it, but still a bug in Safari.
What I did was put the entire page (timeline and content center) in a single "StickyContainer" container.

[2016-09-22 08:11] gkaran opened #127 "Header with two sticky components"
Hello there and thank you for the great lib. I have a problem though trying to implement a header that is divided in three rows, two of which I want to be sticky. More specifically I want the first and the third one.

Here is a mockup of what I want: The first image is the basic layout (in the dotted rectangle is the header) while the second one is the scrolled layout with the sticky parts staying

[2016-09-23 08:31] jasan-s opened #128 "Using it with redux-from and material-ui text-fields issue"
![username field showing through appbar](https://cloud.githubusercontent.com/assets/13863953/18779560/550cd482-812e-11e6-9269-8fb325b93975.png)
I using redux-from with material-ui text-fields and form fields show above the sticky top appbar.  All other content shows underneath as i scroll. z-index for the appbar is 1100.

[2016-09-23 08:48] jasan-s commented on #128
update, its doing the same for material-ui card component as well, as i scroll the cards scroll above the appbar.

[2016-09-23 08:52] jasan-s commented on #128
Update: silly me, had to pass in a custom class to the sticky component with z index instead on the component itself.

[2016-09-23 14:47] #128 closed

[2016-09-23 15:00] jasan-s opened #130 "switching between two route paths leads to unexpected behavior"
I am seeing 2 unexpected things using this lib. Let me explain: I am using Stickycontinaer to wrap my entire main container including children components.   Then I'm using a stick component to wrap my fixed material-ui appbar. The following happens when I  switch between two views ( 1st a list view that exceeds 100% height of viewport, and another view a simple form(does not exceed 100% ) ) . Any

[2016-09-26 04:10] VagishVela opened #131 "MIT license requires the file to be included"
So maybe the file should be included? I believe that also adds it the bar where it says number of commits, contributors etc... This will make it easier for those to reuse this repo.

Sources:
- https://tldrlegal.com/license/mit-license
- https://opensource.org/licenses/MIT

[2016-09-30 02:38] SachaG commented on #123
It would really be helpful to get a tip to point me in the right direction…

[2016-10-01 19:11] dbarbalato commented on #123
A combination of `topOffset: <n>` and `stickyStyle={{ top: <n> }}` should accomplish what you are trying to do.

If you need dedicated assistance, Captivation Software offers affordable consulting to help with your implementation needs. Send an email to info@captivationsoftware.com if interested. Thanks!

[2016-10-01 19:11] #123 closed

[2016-10-04 09:33] SachaG commented on #123
Thanks for the pointer! `stickyStyle={{ top: <n> }}` didn't quite work because it interferes with the component's logic for setting `top`, and caused the element to not stop being sticky properly.

But I was able to use `padding-top` to achieve the same thing. Also, it was actually `topOffset: -n`.

[2016-10-12 22:19] ffxsam opened #133 "Doesn't work within pop-up divs?"
I have a div that is basically a modal (using `position: fixed`), and the sticky behavior doesn't seem to work inside of it: (the red box is the `StickyContainer` and the green one is the `Sticky`). The line at the top is the top edge of the browser viewport area.

![licecap](https://cloud.githubusercontent.com/assets/12532733/19329708/171329a4-908f-11e6-9e6b-b148b05889f0.gif)

Is there some circu

[2016-10-14 08:28] dannypk opened #134 "React tooltip inside react sticky on IE11"
Hey guys,

I have the following issue. I have inside react sticky a component and inside i use react tooltip. On all the browsers works completely fine, but in IE11, it doesn't. And that's because of this https://github.com/captivationsoftware/react-sticky/blob/master/src/sticky.js#L168.

I understand for mobile it's fine, but maybe you could make a sort of property, instead of being default for b

[2016-10-18 15:41] adelespinasse commented on #116
@BJTerry Have you found a solution? I'm currently forcing the transform to "none", but I assume this means it's broken on iPhone (haven't had a chance to test it yet).

[2016-10-18 17:03] BJTerry commented on #116
@adelespinasse For the moment we are sticking with 5.0.4, which works fine for our use-case.

[2016-10-19 21:16] oyeanuj commented on #127
@dbarbalato Also curious about this!

[2016-10-26 14:36] kmbenitez commented on #88
Has anyone (successfully) implemented the class extension for the table use case discussed in #91 ? I'm using the extension code above, but the <tr> doesn't like holding all those props, and I'm getting an error message: `Unknown props tagName, isActive, stickyClassName, stickyStyle, topOffset, bottomOffset, onStickyStateChange on <tr> tag. ` Taking out these props would disable the sticky functio

[2016-10-27 07:32] micmeemac opened #135 "StickyContainers within this.props.children don't respect anscestor Stickys"
The following setup behaves as expected when the child component is rendered directly in its wrapper. As soon as it's passed in using this.props.children (using react-router), the outer Sticky is ignored.

Wrapper
[code]

this.props.children
[code]

[2016-10-27 07:40] micmeemac commented on #135
Note: I am aware of the issues with fixed position divs, but disregarding that, the companion StickyContainer also suffers from the issue.

[2016-10-27 08:21] #135 closed

[2016-10-27 20:46] homeslicesolutions commented on #88
@kmbenitez yea we're using that code above in production.  Can you give me more context on how you are implementing this?  Maybe include the implementation as well?

[2016-10-29 22:20] natecox opened #137 "Customizable container element"
It would be nice if we could define which tag is going to be used for `StickyContainer` and `Sticky` component wrappers. Currently, a `<div>` is mandated, but it would help with semantics if we could override it to use a `<header>` or anything else.

E.g.,

[code]

[2016-11-04 14:05] vu-mai commented on #114
I was having this problem when running js unit test. Turned out that my child component I was testing on, only had Sticky component without StickyContainer wrapping around, which gave me this error.

[2016-11-08 06:45] homeslicesolutions commented on #137
See Issue #88

[2016-11-22 09:11] wzup opened #139 "SKIPPING OPTIONAL DEPENDENCY: fsevents@^1.0.0 (node_modules\chokidar\node_modules\fsevents):"
What warning it this?
What does module `fsevents` do in the plugin?

[code]

[2016-11-27 09:29] MatanBobi commented on #116
+1 for this, Currently using 5.0.4 cause the translateZ(0px) also using z-index to control tooltip over elements and the translateZ breaks it..

[2016-12-06 00:25] homeslicesolutions commented on #88
I have updated the Custom Container tag in a gist.  Please see here:

https://gist.github.com/homeslicesolutions/51898060165f07d07570963e7f890ecb

[2016-12-06 01:12] matthewberkompas opened #141 "Problems with Sticky thead element"
I'm trying to make the `thead` of a `table` sticky so it follows a person down the table as they scroll.
[code]
Unfortunately, you can't put a `div` inside of a `table` element like I'm doing here. Is there any way to make the `thead` sticky without creating a whole separate component in place of it? If not, do you have any suggestions as to how to make a custom `thead`-like component that will sc

[2016-12-07 10:41] jjh4698 commented on #123
Thank U! @SachaG     very Helpful

[2016-12-08 22:26] evgenyrodionov commented on #111
Agreed. On small page it's very laggy.

[2016-12-09 09:37] paraboom commented on #111
I totally forgot about this issue, but I'm using a slightly modified version of this package in my project. The only fix, that I made - removed `componentWillReceiveProps` at all. And performance went back to normal. https://github.com/paraboom/react-sticky/commit/0be78ccb0094af3fda16580678f0b85ddd06b2b8

[2016-12-09 14:59] vyorkin commented on #141
@matthewberkompas I've made a PR #142 for this, it solves this particular problem, but I'm not sure about the solution. Need you guys to take a look at it.

[2016-12-09 18:02] vyorkin commented on #141
@matthewberkompas yes, basically everything works, but it doesn't handle horizontal scrolling properly, #72 maybe related

[2016-12-09 18:20] dbarbalato opened #143 "Looking for new maintainer!"
Hey everyone -- this is Dave, owner and founder of Captivation Software and the creator of react-sticky. I'm happy that so many people have found this library useful over the years, and thanks to the community for their efforts to make it continually better.

(Un-)Fortunately, Captivation has started to pick up over the last year or so and I've been paying much less attention to the PR's and issue

[2016-12-21 11:34] CookPete commented on #114
Would it make sense to gracefully render without errors (perhaps a warning instead) if there is no parent `StickyContainer`? If I have a component that I want to be a `Sticky` when inside a `StickyContainer` but also use it elsewhere in my app, knowing whether to render it as a `Sticky` or not might prove difficult, just for the sake of avoiding this rather cryptic error.

[2016-12-28 13:53] gouegd commented on #110
`position: sticky` essentially makes this lib pointless, when it's supported everywhere we can just use that new standard and forget this lib... Or am I missing something ? (besides the nice and optional topOffset, etc... props)

[2016-12-28 14:17] dbarbalato commented on #110
@gouegd you are correct - once `position: sticky` has wider support, I would recommend everyone just use that instead.

[2017-01-03 03:35] clayne11 opened #145 "Allow passing a function for children"
It would be nice if we could render based on whether or not the element is currently sticky rather than just changing a class on the parent.

I would like to be able to pass a function that gets the current sticky state passed to it:

[code]

[2017-01-03 03:54] clayne11 opened #146 "Use on non-window scroll element"
My app's UI is pretty complex and a lot of the scrolling does not occur on the body of the document.

Since this library puts all the listeners on the window it won't work for non-trivial layouts. We should allow passing in a prop which represents the scroll container.

[2017-01-06 13:26] floormind commented on #139
It is just a warning, it's for something that is not compatible with windows, you can ignore it

[2017-01-06 16:17] wajerrr commented on #133
I found the reason I think. As Sticky component listens only for scroll events by default on window therefore it works only if you scroll your body tag. (it will stick itself if you resize browser window) the solution would be to pass id/ref of scrolling container  (element with scrollbar) and attach scroll event  to this element or window if not specified.

[2017-01-09 17:33] chaffeqa commented on #110
isnt this supported on all browsers (and soon to be out of vendor prefix)?

http://caniuse.com/css-sticky/embed/

you can see the vendor prefix tests here:

https://github.com/jackmoore/sticky-position/blob/master/src/sticky-position.js#L10

[2017-01-10 18:09] gouegd commented on #110
@chaffeqa your link shows that support has not landed on Edge, nor on mobile browsers except Safari

[2017-01-10 18:14] chaffeqa commented on #110
not unprefixed, but i think the second link shows that its under vender prefix for both webkit and ms

[2017-01-10 21:10] gouegd commented on #110
Mmh I don't read that the same way. Just because there's a test using the prefix, doesn't mean that test passes. When support is through a prefix it appears so in caniuse (as for Safari). Also, MDN gives the same support table, lacking on MS browsers.

[2017-01-11 16:01] malte1989 opened #147 "Unexpected token"
Error Message in Console:

(index):21 Error: (SystemJS) Unexpected token <
	SyntaxError: Unexpected token <
	    at eval (<anonymous>)
	Evaluating http://localhost:3000/react-sticky.js
	Error loading http://localhost:3000/main.js
	    at eval (<anonymous>)
	Evaluating http://localhost:3000/react-sticky.js
	Error loading http://localhost:3000/main.js

TypeScript:

declare module "react-sticky" {

[2017-01-18 17:24] tomellwood opened #148 "Element becomes "sticky" 1px before padding is applied to filler div"
When scrolling down there is a noticeable jump between the "sticky" element fixing to the top of the page, and the filler div getting the padding applied to it, It appears both things aren't happening at the same time, but at separate intervals, seemingly 1 pixel further down the page.

[2017-01-25 22:56] gkrinc opened #149 "Screen jumps around when focusing a material-ui text field"
This only happens on my iPhone 5 iOS 10.2 Chrome and Safari. Works fine in Chrome on an Nexus 5X.

Basically if the sticky header is "active" (fixed at the top of the screen below the App Bar) and I focus the material-ui TextField the scroll position jumps to the top of the page and the TextField is hidden behind the keyboard.

Is anyone else experiencing this problem either with material-ui TextF

[2017-01-27 19:54] oldo opened #150 "Also stick to bottom of StickyContainer"
Hi there!

Not sure if this project is still being maintained, but I was wondering if there is a way to the `Sticky` element to not only stick when you scroll past the top of the `StickyContainer` but also stick to the bottom of the `StickyContainer` too rather than jump back to it's original top position?

Thanks :-)

[2017-02-05 10:48] loopmode opened #151 "Different layouts on sticky/non-sticky and spacing via padding-bottom"
Hi.
I already worked around the problem I describe here, however I'd like to share my findings and suggest some improvements.

So the way react-sticky works now is to measure the height of the sticky element, and once sticky, apply that height to the placeholder as `padding-bottom` in order to have a stable layout in the actual content outside the sticky element.

This works fine as long the stick

[2017-02-05 10:59] loopmode commented on #125
You might work around this. Although we have different problems / usecases, the solution would be somewhat similar to mine.

So `getHeight()` is used to set `padding-bottom` on the placeholder element, which lacks your specific margins.
If your margins are stable, you could define CSS rules that add your margins to the placeholder.

A rule like `.your-parent.isSticky .your-sibling-before-the-stick

[2017-02-05 17:22] halt-hammerzeit commented on #125
@loopmode Thanks for the detailed guide but I think I'm gonna stay with hacking margins using padding rather than going with hacking `react-sticky` itself. But someone coming from Google may possibly find your answer useful in this particular scenario.

[2017-02-11 17:17] loopmode commented on #151
I was actually doing it wrong altogether. `react-sticky` is perfectly capable of handling the situation, it's a question of using it correctly.

I solved my problem by not rendering one component that changes its height inside the sticky element.
Instead, I render both versions - the short one and the large one - at all times, and only the small one that's supposed to stick is rendered inside the

[2017-02-11 17:17] #151 closed

[2017-02-14 19:14] yaycmyk commented on #88
I've used this type of pattern a lot, here's an example component that implements it: https://github.com/enigma-io/boundless/blob/master/packages/boundless-button/index.js#L101

[2017-02-15 15:31] SpainTrain commented on #94
Any updates from anyone else who was previously experiencing this?  We have seen this in the wild from our error reporting service, but cannot reproduce it at all.

[code]

I admittedly haven't dug into your lib's source yet, but a similar lib has users with the same issue: https://github.com/akiran/react-slick/issues/555

[2017-02-15 17:08] pvande commented on #94
@SpainTrain The source isn't too bad; I recommend taking a look!

Having said that, the places that call `getBoundingClientRect()` are all directly or indirectly called by `Sticky.recomputeState`.  That method is called whenever the props are updated (via `componentWillReceiveProps`) and via event handlers on `window` (which are attached in `componentDidMount` and unattached in `componentWillUnmou

[2017-02-16 08:47] seleckis opened #152 "Blurry font in MS Edge"
If you check how sticky component looks like in Microsoft Edge browser, you will see that font in this component becomes blurry. This is because `transform: translateZ(0)` is there. If I disable this property, font becomes sharp.

And this happens only when the container of sticky element has some dynamic position,
e.g. `width: 50%; margin: auto;`

[2017-02-16 18:59] SpainTrain commented on #94
Thanks for pointing us in the right direction.  I will add your comments to our internal tracking ticket.  For some reason this has started occurring a lot, so hopefully we can track it down.

[2017-02-17 19:50] SpainTrain commented on #94
I was able to `git bisect` and find where this issue was introduced.  It turns out that for us it was caused by the [New Relic Browser](https://newrelic.com/browser-monitoring) agent.  Based on your explanation of what would cause this error to be thrown, I might guess that the NR Browser agents futzes with the DOM elements that the components hold a ref to or the events on window.

Removing NR Br

[2017-02-23 10:48] codepunkt opened #153 "Usage example with styled-components and styled-property"
This might be interesting for people who are using this with [styled-components](https://github.com/styled-components/styled-components).
See https://github.com/codepunkt/styled-property#react-sticky-sticky

[2017-02-28 15:46] ShyamRaj commented on #150
@oldo I think this might be useful,

This component allows you to pass css classes, You can set `bottom: 0` and make it sticky at the bottom of the page.

[Stickky](https://www.npmjs.com/package/react-stickky)

[2017-02-28 22:42] #139 closed

[2017-02-28 22:51] #110 closed

[2017-03-01 01:07] oldo commented on #150
Thanks for the heads up @ShyamRaj
I'll check this project out for sure :-)

[2017-03-02 03:20] chaintng commented on #94
I have this problem once install new relic browser also.

[2017-03-02 15:02] sheepsteak commented on #147
Do you still have this problem? This is more likely something to do with the way your project is set up.

`Unexpected token <` usually means that HTML has been returned instead of the JavaScript.

[2017-03-02 15:07] malte1989 commented on #147
You can close the issue if you want.
At the moment I am waiting for some improvement on code (esp. Packaging), maybe then package installation will succeed.
I then will give it a second try.

[2017-03-02 15:07] #147 closed

[2017-03-02 15:14] #99 closed

[2017-03-02 15:15] #98 closed

[2017-03-03 11:03] chuanxie opened #154 "only allow maximum one sticky component in StickyContainer?"
Is there any easy way to just only allow one sticky component for specify container?

[2017-03-14 20:16] WestleyArgentum opened #155 "demos don't work over https"
The demos linked in the readme don't work over https:

https://rawgit.com/captivationsoftware/react-sticky/master/examples/basic/index.html

https://rawgit.com/captivationsoftware/react-sticky/master/examples/timeline/index.html

[2017-03-16 15:42] navgarcha opened #156 "Recalculate Sticky top when dynamically injected"
It doesn't appear the the `top` css style attribute is recalculated correctly when you dynamically inject (lazy load for example) a React component that contains a `StickyContainer`/`Sticky`.

For example if i have a sticky navigation and a item within the page that is also sticky the item in the page has its top css style value offset to account for the header so it appears below it and is not ov

[2017-03-21 13:58] singpolyma-shopify opened #157 "ReactDOM.getDOMNode on ref?"
Why does `getHeight` use this?  It has a ref already, and none of the other bounding rect helpers seem to need it...

[2017-03-21 15:43] infacq opened #158 "weird behaviour on ipad"
Does anyone notice it? It's like flying around the page when element is sticky

[2017-03-24 10:41] AlgoTrader opened #159 "How can I do sticky sidebar?"
I try to make sticky sidebar rather than sticky header. When sidebar goes 'sticky' it's height is "compensated" and all the markup is broken.

Any ideas?

[2017-03-24 10:44] jsiebern commented on #159
I was in need of the very same thing and had to fork to achieve it. Here is what I did:
https://github.com/jsiebern/react-sticky/commit/f7934b25bef3ae64232b5a65805c6c043ba3e7f2#diff-fd4e97055b72f7ac1dfedad50448f35e

[2017-03-24 12:30] AlgoTrader commented on #159
Thanks. I consider going with 'position: fixed' and polyfill for old browsers. It's clear the react-sticky is rather header sticky than sidebar sticky

[2017-03-24 13:22] jsiebern commented on #159
That's true! The problem I faced is that the placeholder div cannot be influenced by CSS or any other options, it's just created. So instead of doing some weird situational CSS selectors for it I decided to leave it as is and just avoid setting the height on it. It's a bit dirty but works perfectly fine for me!

[2017-03-26 00:40] aulneau opened #160 "Add class when sticky hits bottom of container"
Hi there!

I would like to adjust the way that it leaves when the sticky hits the bottom of the sticky container. Ideally, I'd like for it to animate out, or add `position: absolute; bottom:0` when it hits the bottom of the container.

Thanks!

[2017-03-27 09:48] Noitidart commented on #56
@pytkin did you find a solution for this? I have a responsive design, and when the media query for small applies, I want it to be not sticky.

I was thinking of using `!important` stylesheet to override with media query, what do you think?

[2017-03-27 10:34] pytkin commented on #56
@Noitidart i'm actually not remember. It was about year ago.

Try this: https://gist.github.com/pytkin/fb187e8fec7ba8c84f7ce40cc28d838d (this is my code with @keyeh changes).

As I remember, "Stycky" adding class or styles to "style" atribute directly. You can try override it with `!important` and media-query - should works.

I'm actually not remember why we choose this solution (react-sticky), I

[2017-03-27 10:45] pytkin commented on #56
@Noitidart, I think you can use `onStickyStateChange` to update `stickyMQ` from my example above.
Should be something like this: https://gist.github.com/pytkin/fb187e8fec7ba8c84f7ce40cc28d838d/b2f5663832fdb5aa545dcd5bb96f5c128454f0c4

But I can be wrong.

[2017-03-27 11:37] pytkin commented on #56
@Noitidart, I found repository with my project, you can use this workaround: https://gist.github.com/pytkin/20b579ecedac39cbbf7e9e38525bcf7d

[2017-03-27 16:27] stackninigi opened #161 "Change Sticky width on @media screen and min-width"
Hello! I've been wondering how to make Sticky change width on @media screen and min-width. My code looks like that:

componentA.js
<StickyComponent>
  <A>
  ...
  </A>
</StickyComponent>

componentA.scss
@media screen and min-width

And if I remove Sticky Component, it works perfectly. But with Sticky Component the width doesn't change. How can I solve that?

[2017-03-27 19:39] Noitidart commented on #56
Thank you very much @pytkin for all your feedback!

[2017-03-28 02:04] timdoes commented on #56
@Noitidart @pytkin
I created a PR #60 for this a while back adding the [isActive prop](https://github.com/captivationsoftware/react-sticky#isactive-default-true) to manually turn sticky on or off.

[2017-03-28 21:56] #154 closed

[2017-04-03 08:38] MichaelDeBoey opened #163 "What is the correct use?"
Hi everyone!

I'm trying to make this work, but it doesn't unfortunately :confused:

This is the render-method of my Component I want to use:
[code]

But when I scroll, I get the following (both the green and pink are Sticky, so the pink one should stay and the green one should be gone I think):
![Imgur](http://i.imgur.com/yEojYwy.png)

CC: @dbarbalato

[2017-04-03 23:13] rickerd commented on #143
I guess nobody wants to maintain it..
If you want i can maintain the PR and releases but i won't be coding alot on it.

[2017-04-05 10:27] merapi commented on #127
@gkaran is it solved? I did it manually with `topOffset` and `stickyStyle` props

[2017-04-05 10:29] gkaran commented on #127
The point is not to do it manually. The point is to have elements that you don't know their size and they should stack. So when you don't know the size that an element will have, you cannot do it with `topOffset`

[2017-04-12 21:18] taylor-smith opened #164 "Make compatible with React 15.5"
A few deprecation warnings were added in React 15.5 (namely on usage of React.PropTypes). Can react-sticky support the new recommended APIs?

[2017-04-18 09:25] daneilcheung commented on #149
I think this is an issue with IOS `position:fixed`, which is not part of an issue of react-sticky.

[2017-04-19 04:18] 199911 commented on #94
I got this problem too and I am using new relic browser also

[2017-04-19 06:33] neesonqk commented on #133
You must put `StickyContainer` to the scrollable container rather than any inner sub container.

[code]

[2017-04-20 21:54] liroyleshed commented on #158
Exactly.

[2017-04-21 08:32] MichaelDeBoey commented on #164
@andrevenancio this can be closed I think :-)

[2017-04-21 10:03] andrevenancio commented on #164
only @taylor-smith can close it

[2017-04-21 12:51] #164 closed

[2017-04-21 12:52] dbarbalato commented on #160
This feature would become possible with the release of v6.0.0

[2017-04-21 12:52] #160 closed

[2017-04-21 12:53] #155 closed

[2017-04-21 12:53] #152 closed

[2017-04-21 12:54] dbarbalato commented on #145
This is the meat and potatoes of the v6.0.0 branch.

[2017-04-21 12:54] #145 closed

[2017-04-21 13:50] pedroabreu commented on #131
+1

[2017-04-21 19:53] dbarbalato commented on #131
Submit a PR and I'll make the change

[2017-04-21 19:53] #131 closed

[2017-04-22 00:41] dbarbalato commented on #157
Outdated with upcoming release of 6.0.0

[2017-04-22 00:41] #157 closed

[2017-04-22 00:41] dbarbalato commented on #146
Feature is provided as part of upcoming release of 6.0.0

[2017-04-22 00:41] #146 closed

[2017-04-22 00:42] dbarbalato commented on #116
Ability to disable transform is part of upcoming release of 6.0.0

[2017-04-22 00:42] #116 closed

[2017-04-23 05:47] codeanpeace commented on #127
It'd be cool if you could pass a `stack` flag to the component to get that behavior.
ie `<Sticky stack=true>` or `<StickyContainer stack=true>`

[2017-04-24 09:37] seleckis commented on #152
What it the status of this issue? Won't fix or fixed or something else?

[2017-04-24 12:38] dbarbalato commented on #152
I suspect you could just tweak some css and get around the issue yourself. If you want to take a stab at a PR to fix it, go ahead.

[2017-04-24 20:58] probablyup commented on #143
I use this actively at work. I'm willing to help out with maintenance if you still need someone.

A few of my other projects for reference:

- https://github.com/probablyup/markdown-to-jsx
- https://github.com/enigma-io/boundless

[2017-04-25 11:30] noreiller opened #167 "Beta version"
Hi, is there any luck that you provide a beta release of the upcoming 6.0.0 release on npm ?
If so, I could test and provide feedback.
Thanks for your work and your time!

Aurélien

[2017-04-25 12:32] dbarbalato commented on #167
Great idea - 6.0.0-beta.1 is now published on npm.

Feedback is definitely welcome

[2017-04-25 12:33] dbarbalato commented on #167
Going to keep this open as the thread for beta feedback...

[2017-04-25 15:01] noreiller commented on #167
Great! I will try it right now.

[2017-04-25 18:19] codyrushing commented on #149
@gkrinc I'm having the same problem

[2017-04-26 11:15] noreiller commented on #167
Hi, I installed the beta1 and here are my notes:

1. there is no mention in the README about the fact that the Sticky component needs a DOM element as first child (I tested a Component which renders a DIV, but it wasn't functionnal)
2. there is a regression compared to the 5.x version: if you need to stick an element if its parent has been reached according to the document scroll. I tried to use t

[2017-04-26 13:00] dbarbalato commented on #167
Thanks for your feedback.

1. Great catch - easy fix that I will push up as beta2 soon.

2. Can you explain another way? It sounds like you don't want to use a regular, non-`relative` sticky for the use case you described. The `relative` attribute signals that you only want your `Sticky` to update as its overflowing `StickyContainer` scrolls - it would have no effect on document scrolls. Am I misu

[2017-04-26 13:18] dbarbalato commented on #167
6.0.0-beta.2 is published, btw

[2017-04-26 13:25] noreiller commented on #167
I created a jsFiddle to show my case: https://jsfiddle.net/e3qre3em/1/ .
The animated element is the Sticky element and the wrapper around with the blue border is the Container.
The case which worked with the version 5.x is the following:
- the page loads at scroll 0: the Sticky element is sticked in the Container
- I scroll down the page to the Container: the Sticky is still at the same place
- I

[2017-04-26 13:45] dbarbalato commented on #167
I was able to use the new API to construct this:

https://www.webpackbin.com/bins/-KieS8JwPQEEssF0M0wh

[2017-04-26 15:57] noreiller commented on #167
Ok, I will try your solution.

[2017-04-27 15:02] tomasztomys commented on #116
when do you want to release 6.0.0?

[2017-04-27 15:20] dbarbalato commented on #116
At this point, its a function of how quickly the test suite can be rewritten to exercise and validate the new API.

Unfortunately, I have some business stuff coming up that will likely take any of my remaining spare cycles, so contributions from the community would certainly expedite things. That said, writing tests are not a particularly sexy problem so I don't expect much help - which is why I r

[2017-04-27 17:01] noreiller commented on #167
Hi, the beta2 is working well with custom components, thanks for the update.
For the case I'm using on my company website, I got to make it work but it's not really compatible with the CSS as all the business logic (width, top and right positions, etc.) are in the CSS. So I gave up and I'm back with v5.x as it's working well.
Maybe I'll try later, but right now, I can't spend more time. Sorry.

Fo

[2017-04-28 20:40] pdfabbro commented on #156
I have a similar issue where react-sticky is not recalculating the padding on the div it places before the sticky element.  On my home page the top header is 50 px and react-sticky correctly calculates a padding of 50px.  When I go to the next page where my header is 95px, react-sticky thinks it's still only 50px and the content begins underneath the header and you can't see it.

[2017-04-29 22:28] dbarbalato commented on #167
6.0.0 is released

[2017-04-29 22:28] #167 closed

[2017-04-29 22:28] #143 closed

[2017-04-29 22:29] dbarbalato commented on #133
Fixed in 6.0.0

[2017-04-29 22:29] #133 closed

[2017-04-29 22:29] dbarbalato commented on #94
No longer relevant with 6.x

[2017-04-29 22:29] #94 closed

[2017-04-29 22:30] dbarbalato commented on #83
no longer relevant as of 6.x

[2017-04-29 22:30] #83 closed

[2017-04-29 22:30] dbarbalato commented on #61
no longer relevant as of 6.x

[2017-04-29 22:30] #61 closed

[2017-04-29 22:31] dbarbalato commented on #85
no longer relevant as of 6.x

[2017-04-29 22:31] #85 closed

[2017-04-29 22:31] #82 closed

[2017-04-29 22:31] dbarbalato commented on #69
no longer relevant as of 6.x

[2017-04-29 22:31] #69 closed

[2017-04-29 22:32] dbarbalato commented on #71
stale

[2017-04-29 22:32] #71 closed

[2017-04-29 22:32] dbarbalato commented on #50
no longer relevant as of 6.x

[2017-04-29 22:32] #50 closed

[2017-04-29 22:32] dbarbalato commented on #86
no longer relevant as of 6.x

[2017-04-29 22:32] #86 closed

[2017-04-29 22:33] dbarbalato commented on #114
no longer relevant as of 6.x

[2017-04-29 22:33] #114 closed

[2017-04-29 22:34] dbarbalato commented on #159
no longer relevant as of 6.x

[2017-04-29 22:34] #159 closed

[2017-04-30 07:06] aribronstein opened #170 "Usage of isActive with version 6.0.0"
Is there a way to use version 6.0.0 and continue to decide to activate/deactivate the stickiness of a <Sticky /> element?

[2017-04-30 12:17] matthewrobb opened #171 "[Suggestion]: Consider adding `(@)sticky(...)`"
With the new HoC model for Sticky it seems like a nice addition would be the ability to wrap components as stick using either decorators or simple functional wrapping.

[2017-04-30 13:29] dbarbalato commented on #170
Of course - just don't use the `style` property when you don't want your `<Sticky />` to be active:

`{ ({ style }) => <div style={ this.state.isActive ? style : {} } />`

[2017-04-30 13:29] #170 closed

[2017-04-30 13:42] dbarbalato commented on #171
Given the testing and documentation that would have to accompany this change, I personally don't feel like the improved syntax would be worth it.

That said, if someone were to go ahead and do the work, I would merge it in.

[2017-05-02 01:49] scottwarren opened #174 "Automate tests being run"
It'd be good to have the tests automatically run including a coverage report as well as a badge in the readme.

Likely would have to setup [Travis CI](https://travis-ci.org/) (or alternative) and use [Coveralls](coveralls.io).

Happy to submit a PR, but want to make sure it's wanted and that I don't step on anyone's toes.

[2017-05-02 01:56] dbarbalato commented on #174
I'm a bit confused -- we are already running tests using Travis CI. Did you maybe miss the existing badge on the README, or have you found a problem with the current configuration?

That said, I'd accept a PR for Coveralls - def not stepping on toes...

[2017-05-02 02:06] scottwarren commented on #174
My apologies @dbarbalato I did miss the build badge. It'd be good to run on pull requests too (and report the status within Github) - I can take this task on

I'm happy to take on the Coveralls task too, if that's ok?

[2017-05-02 02:13] dbarbalato commented on #174
So again, unless I'm missing something, Travis CI currently runs on PRs too - check out https://travis-ci.org/captivationsoftware/react-sticky.

Coveralls would be a good addition, so by all means tackle that one if you want.

I'm going to close this out in anticipation of your PR - thanks!

[2017-05-02 02:13] #174 closed

[2017-05-02 02:19] scottwarren commented on #174
Ahhhh... sorry! I completely missed it - I think because it doesn't seem to be reported as a status on the PR itself, but it looks like that's a config within Travis CI itself:

![image](https://cloud.githubusercontent.com/assets/2718494/25601724/7a559f4c-2f31-11e7-9150-fdc1d0a66b0f.png)

Anyway - sorry for being so confusing! I'll take a look at the Coveralls task too.

[2017-05-02 02:25] dbarbalato commented on #174
So I've never set up Coveralls but I synced up my account to use it -- here is the repo token they gave me, if you're going to proceed with the setup: `NfW2NF4JMK2iRGH4rV8t4uhMFHxnLNBAd`

[2017-05-02 08:20] #163 closed

[2017-05-02 08:22] MichaelDeBoey opened #175 "Use 'react-dom/test-utils' package instead of 'react-addons-test-utils'"
`react-addons-test-utils` has been deprecated and has been put in the `react-dom` package since [React v15.5.0](https://facebook.github.io/react/blog/#react-test-utils).

[2017-05-02 09:34] szujak opened #177 "Event is reused for performance reasons"
Hello,

I find one bug (or maybe I did something wrong :) in this new version of react-sicky. When I have scrollable content inside `Sticky` component then I getting this warnings

[code]

[2017-05-02 15:43] vpezeshkian opened #179 "Provide change log and migration steps"
Migrating from v5.x to v6.0 breaks existing code due to `warning.js:36 Warning: Failed prop type: Invalid prop 'children' of type 'object' supplied to 'Sticky', expected 'function'.`

Please provide migration steps and also change log or any kind of breaking changes list.

Thanks.

[2017-05-02 15:46] vpezeshkian commented on #179
My existing code
[code]

[2017-05-02 15:50] chuanxie commented on #179
You need to pass in a function, please check readme.
Breaking change without CHANGELOG, very helpful.

[2017-05-02 15:57] vpezeshkian commented on #179
after providing a function sticky is not working properly, it doesn't stick as it used to.
[code]

[2017-05-02 16:16] dbarbalato commented on #179
Hey guys,

Let me remind you that react-sticky is supported by a small core team -- it's essentially just me. I can sympathize with your frustration on the lack of a CHANGELOG, but I took care to follow semver for this release due to its breaking changes, and nothing prevents you from using the 5.0.8 release if you're getting stuck.

If you are adamant about using the latest API with the 5.x inter

[2017-05-03 11:42] dignifiedquire opened #180 "Broken npm release"
I just installed the `react-sticky@6.0.0` version and it seems the core components are missing, only `lib/index.js` exists, but not `lib/Sticky.js` or `lib/Container.js`.

[2017-05-03 11:53] szujak commented on #180
Try to remove `react-sticky` folder from `node_modules` and install again.

[2017-05-03 12:09] dignifiedquire commented on #180
Strange, that fixed it. Thank you

[2017-05-03 12:09] #180 closed

[2017-05-03 12:51] MichaelDeBoey commented on #174
@dbarbalato what @scottwarren means is that you can see the result of the tests inside the PR itself, like you see [here](https://github.com/tomkp/react-split-pane/pull/160) for example 🙂

[2017-05-03 15:20] suziesirena opened #181 "header jump out of the container when sticked"
Hi,

As shown below, the header jump outside the main div when it's sticked :
![sticy issue](https://cloud.githubusercontent.com/assets/1114738/25667395/9e713c9a-3023-11e7-9f65-6c5380ae716b.jpg)

Here is the code, any idea why this happens?

`
  export default class Colonne extends React.Component {
    render() {

...

          var rows = rowTags.map((indicator, index) => (
                <div

[2017-05-03 16:31] MichaelDeBoey commented on #181
@suziesirena Try using the newly released `V6.0.0`, where you can set the `relative ` prop to `true`. This should resolve your problem 🙂

[2017-05-03 18:01] suziesirena commented on #181
Thx Michael for quick reply,

I already use v6.0.0 and use "relative" in the < Sticky> tag.
That's why I don't understand the glitch.

Any idea?

[2017-05-03 20:34] suziesirena commented on #181
I realized that I have an horizontal problem too...
see this video : https://youtu.be/X4XeigeR68M
you can see that the sticky header stays over when you scroll right.

(Note : I've patched the vertical pb directly in the react-stick code : quick & dirty :/)

is it a noway to use this component in my app ?

[2017-05-04 13:41] NoZiL opened #182 "[Question] Why Sticky children is now a function ?"
Hi,
First of all, nice work here.
A question regarding 6.0.0 breaking change, why is it not possible anymore to pass a single element as a child ? The 6.0.0 makes the code less readable (in my opinion) when using the default behavior.
e.g. my layout component is a StickyContainer and my context / navigation bar is a Sticky component in it.

[2017-05-04 14:44] dbarbalato commented on #182
So this change has been a long time in the works - at least mentally....

Since version 3 or so, many issues have been created as a direct result of the inflexibility inherent to the single-child declarative API.  In hindsight, I now realize that the source of these issues was that "stickyness" isn't really structural, it's more of an aspect. The new approach circumvents this inflexibility by goin

[2017-05-04 15:14] navgarcha opened #183 "Synthetic event warning"
Getting the warning in my console once updated to the new v6 version of this lib:

`
Warning: This synthetic event is reused for performance reasons. If you're seeing this, you're accessing the method `currentTarget` on a released/nullified synthetic event. This is a no-op function. If you must keep the original synthetic event around, use event.persist(). See https://fb.me/react-event-pooling for

[2017-05-04 23:42] #182 closed

[2017-05-04 23:55] #175 closed

[2017-05-05 00:12] MichaelDeBoey commented on #183
Closed by #178

[2017-05-05 00:13] MichaelDeBoey commented on #177
Closed by #178

[2017-05-05 09:25] dstros94 opened #184 "Headers not sticking in scrollable div"
I'm having trouble setting sticky headers in my div container.
My scenario is very similiar to your [stacked example](http://rawgit.com/captivationsoftware/react-sticky/master/examples/stacked/index.html) but I dont put my sticky header in window but in custom div on my page.
Im getting list of sticky containers this way
[code]
And I use that contianers like this
[code]
My css for div is
[code]

T

[2017-05-05 11:20] #183 closed

[2017-05-05 11:20] #177 closed

[2017-05-05 11:21] #179 closed

[2017-05-05 18:27] KaboomFox opened #185 "npm version 6.0.1 is missing files"
files weren't compiled when package was released. Missing Sticky and Container. Please re-release

[2017-05-06 00:08] dbarbalato commented on #185
Looks OK on my end. Another person has had this problem and the suggestion was to delete the lib and reinstall. If you could try that and report back, that would be helpful.

Not sure what is going on with it - maybe someone more knowledgeable could provide some wisdom.

[2017-05-06 09:00] szujak commented on #185
I would say that has something with file names in `5.0.x` and `6.0.x`.
In previous releases those file names was started with lower case but in `6.0.x` releases they started with uppercase.

I've only had this issue while migrate between `5.0.x` and `6.0.x`. After update  from `6.0.0` to `6.0.1` it worked.

[2017-05-06 16:45] Vadorequest commented on #94
I've also just run into the same issue, using the most simple Sticky example. I've created a dedicated branch for anyone who wants to dive in at https://github.com/Vadorequest/chatounerie-du-luberon/tree/sticky-issue

Run `npm install`
then `npm run`

Incriminated file is https://github.com/Vadorequest/chatounerie-du-luberon/blob/sticky-issue/src/components/Navbar.js#L26

Hope it helps.

[2017-05-07 23:49] KaboomFox commented on #185
interesting. will try. I was upgrading from 5.0.x

[2017-05-09 07:53] aribronstein opened #186 "[Violation] 'requestIdleCallback' in console with v6.0.1"
I'm getting a large number of [Violation] 'requestIdleCallback' handler took [x]ms when scrolling up and down my page in chrome once I have activated my sticky element.

mock code

    class CartItem extends React.Component {
      constructor(props) {
        super(props);
      }
      render() {
        return (
          <StickyContainer key={this.props.item.item_id}
               ref={(ref)

[2017-05-09 17:44] evan-scott-zocdoc opened #187 "Please add a CHANGELOG"
And a migration guide from 5.x to 6.x if changes are needed.

Based on the blurb in the README, "completely redesigned" comes off as a red flag that changes might be needed but you didn't provide any additional context.

[2017-05-10 15:19] dnd opened #188 "Uncaught TypeError: Cannot read property 'getBoundingClientRect' of null"
I can't seem to get react-sticky to work when attempting to use my own component

[code]

When I attempt the above I get `Uncaught TypeError: Cannot read property 'getBoundingClientRect' of null` at `Sticky.js:61`.

[code]

If I do the above, but don't attempt to pass any of my own props, and just return the component by name it works:

[code]

I'm assuming I'm missing something simple, but I don'

[2017-05-10 15:28] dbarbalato commented on #188
Interesting, might be a bug or an unsavory limitation of the current approach -- can you try with your `<SearchResultBar />` as a class instead and report back to see if that makes any difference?

[2017-05-10 15:31] dnd commented on #188
@dbarbalato, I actually just got finished trying that, and it appears to work correctly as a class extending `Component`.

[2017-05-10 15:35] dbarbalato commented on #188
Ok, well that's good to know. Obviously undesireable. Would you have any objection to submitting a PR with a reasonable attempt to make this work? I don't do much work with functional components so I wouldn't be the right person to implement.

[2017-05-10 15:53] dbarbalato commented on #188
So on second thought, I don't think this will ever be possible -- stateless functions don't support `ref`s by design, which is the core to this implementation, at least not without some some sort of `Component`/`PureComponent` wrapper.

Not to discourage someone from making a PR to work around it. But the mystery as to why has been identified

[2017-05-10 18:58] dnd commented on #188
I'm still somewhat new to react, but creating a HOC seems to make it possible.

[code]

Whether that's a good solution or not, I don't know. It does work though.

[2017-05-12 15:44] denis-sokolov opened #189 "Stacked relative"
I would like to get an effect of the [stacked demo](http://rawgit.com/captivationsoftware/react-sticky/master/examples/stacked/index.html), where multiple sticky headers politely let one another to be at the top of the screen, only relative to an arbitrary container ([`relative` option in the library](http://rawgit.com/captivationsoftware/react-sticky/master/examples/relative/index.html)).

It see

[2017-05-16 05:17] Anenth commented on #69
@varandpez `onStickyStateChange` is not on documentation and source code. But I think it work on version `5.0.5`

[2017-05-16 12:20] makotot commented on #185
`npm cache clean` or `yarn cache clean` may solve this.

[2017-05-17 13:01] chuanxie commented on #187
Agree, the documentation is so confusing,  I have no idea how to set `isSticky` for the 6.x,
automatically become sticky HOC?
The demo is too simply and useless

[2017-05-17 13:36] dbarbalato commented on #187
Sorry to hear you find the demo useless @chuanxie. If you have suggestions as to how to improve it, create an issue with what you'd like to see. I can't promise I'll do it, but somebody else might.

Unfortunately, I personally don't have the time to create a CHANGELOG.  I also don't think that this is a prohibitively difficult API to understand. Just read the docs and do some experimentation and t

[2017-05-17 13:41] chuanxie commented on #187
It need to add `style={style}` to make it sticky. I don't know how demo work without setting style attribute @dbarbalato

[2017-05-17 14:13] evan-scott-zocdoc commented on #187
@dbarbalato Here's thing, if every library that goes into a frontend project took your philosophy, it would literally takes weeks to upgrade things because FE is generally a land of tiny, specific modules. It's not really acceptable to have to grok a codebase's entire source to understand in the event of an upgrade one small thing changed but the rest is the same. That's simply developer-hostile.

[2017-05-18 03:08] dbarbalato commented on #187
Would you be interested in submitting a PR, @evan-scott-zocdoc ? I've never done a CHANGELOG and it sounds like you've done a few - I'd be happy to advise you on the high level details if you needed them but as I said, I'm too busy and not particularly motivated at the moment to sit down and do it myself.

If not, that's cool too - that same offer stands for anyone interested in contributing

[2017-05-18 15:13] richorton commented on #148
Also running into this issue, which is causing the UI to feel quite jumpy as a result :(

[2017-05-20 23:10] kubilaysalih commented on #156
@navgarcha any solution you have?

[2017-05-22 22:30] pzatrick commented on #156
Here's my workaround:

[code]

[2017-05-23 09:46] kubilaysalih commented on #156
Not perfect but i guess it's better than manipulating scroll :/

[code]

[2017-05-23 22:01] pzatrick commented on #156
@kubilaysalih not sure I follow. Is this another workaround?

What's the idea behind making a copy of an object (`style`) only if its not empty?

[2017-05-26 06:09] smolak opened #190 "How to test Sticky using enzyme / chai / mocha combo?"
Hi

I only had a very brief experience with Sticky and the only way of testing what Sticky renders is to do something like this:
[code]

Is there an elegant solution to testing Sticky? Updating parent component (via `update()` does not work).

[2017-05-26 08:20] kennethkalmer opened #191 "Consider adding back support for the dist builds?"
Would you consider accepting a pull request adding back support for the `dist/` builds that existed in the 5.0.x releases?

I ask because they are useful for [generating externs](https://developers.google.com/closure/compiler/docs/api-tutorial3?csw=1#externs) used by the Google Closure Compiler, and by extension for use in ClojureScript and possibly other languages/tools that build on top of Closu

[2017-05-26 09:53] smolak opened #192 "I can't use a single component to render, need to wrap it in additional one"
Hi

When I try to do this:

[code]
It will fail with `Sticky.js:61 Uncaught TypeError: Cannot read property 'getBoundingClientRect' of null`.

But when I do this:
[code]
It works.
It works also when you render a component without props (can have children though):
[code]

It should work forall cases, in my opinion.

[2017-05-26 17:46] keith-gould-zocdoc commented on #190
@smolak Yeah I'm having the same issue...

I wonder if this would be solved if the Sticky component was designed to accept a React Component or a function?  Technically it's not a Higher Order Component (at least with respect to React) unless you can put a React component into it as a child, no?

[2017-05-26 18:05] dbarbalato commented on #190
Are you using functional components by any chance? This version relies on using a components `ref`, and functional components do not use those.

If not, sounds like a legit bug

[2017-05-26 18:06] dbarbalato commented on #192
Are you using functional components by any chance? This version relies on using a component's ref, and purely functional components do not support refs.

If not, sounds like a legit bug

[2017-05-26 18:46] keith-gould-zocdoc commented on #190
I was able to get around this by just mocking Sticky using jest like so:

[code]

[2017-05-26 19:31] codermango opened #193 "Can I change the sticky position?"
I use package to implement the similar stuff like the example [http://rawgit.com/captivationsoftware/react-sticky/master/examples/stacked/index.html](url)

But is there a way to change the sticky position instead of the top of viewport. I tried to set top attribute but that makes the animation disappear(I mean the next bar push up the previous bar).

[2017-05-29 07:51] MichaelDeBoey commented on #191
@kennethkalmer I don't think that's a good idea, 'cause dist builds can cause major merge conflicts.
And they can always be build from the original source if you want. 🙂

[2017-05-29 09:18] 199911 commented on #111
@osdiab
This is a little bit off-topic, but I want to know how do you generate the gif?
Are you using some chrome extension?
It is very useful to figure out which component has redrawn.

[2017-05-29 10:39] paraboom commented on #111
@199911 try https://www.getcloudapp.com/

[2017-05-29 10:42] paraboom commented on #111
@dbarbalato btw, I noticed that you removed `componentWillReceiveProps` from the code, so performance is good right now. I guess, we can close that issue?

[2017-05-29 10:54] 199911 commented on #111
@paraboom
Thanks!
I also want to know how the red rectangle in the gif generated.

[2017-05-29 11:04] szujak commented on #111
@199911 https://developer.chrome.com/devtools/docs/rendering-settings

[2017-05-29 11:21] kennethkalmer commented on #191
I understand the merge conflict issue! Maybe just have the script ready for those who need to build the files themselves, have it documented and have `dist/` in `.gitignore`?

Apologies if this process is blatantly obvious to anyone with webpack experience! I haven't used webpack in any capacity, I'm just trying to get updated versions rolled out to the [cljsjs](http://cljsjs.github.io) world in a

[2017-05-30 14:29] tegan-miller opened #195 "jumpy scroll when sticky disabled & cleaner way to disable sticky"
I have passed in an empty style object based on the suggestion here to disable the sticky.
https://github.com/captivationsoftware/react-sticky/issues/170

I'm seeing a jump/flash when I scroll up with this approach.

Also it would be nice to have a single prop to disable the sticky. I was depending on the isSticky prop for a lot of styles, and I have to set that to false as well as pass in the emp

[2017-05-30 15:01] tegan-miller commented on #195
It looks like there is an inline style for padding-bottom on the Sticky component that's causing the jump. I cannot override this style because the component isn't taking in className or style props.

Can the component take in a className so it can be styled?

[2017-05-30 15:03] dbarbalato commented on #195
Look at the `disableCompensation` property in the README

[2017-05-30 16:14] tegan-miller commented on #195
that worked great, thanks!

[2017-05-30 20:53] #195 closed

[2017-05-31 09:11] 041616 opened #196 "server rendering"
I use nodejs server rendering. After updating `react-sticky` to last version (6.0.1)  I have problem:

[2017-05-31 14:41] tegan-miller opened #197 "Sticky content flashing on scroll"
I added a topOffset value and my sticky contents are flashing in and out. It only happens when scrolling - sometimes when scrolling down but always when scrolling up.

has anyone else seen this issue?

[2017-05-31 16:04] pselden commented on #88
Did anyone actually get this working with a table header?

[2017-05-31 18:48] tegan-miller commented on #197
If anyone else has this issue I was passing the style object to a component inside my sticky container because I was relying on some of the sticky styles.
By removing the style object from that component and adding the styles myself the flash went away.

[2017-05-31 18:48] #197 closed

[2017-05-31 18:58] ardok opened #198 "Allow placeholder padding override?"
Hello,

Is there a way to have custom padding placeholder?
https://github.com/captivationsoftware/react-sticky/blob/master/src/Sticky.js#L59

Maybe expose this particular section:
[code]

To be something like:
[code]

Then in my code, if I want custom placeholder height, I could do something like:
[code]

I'm not sure whether that's the "best" way.
I'm trying to avoid using CSS.

Reading these 2 i

[2017-06-04 13:13] RIP21 commented on #187
A migration guide will be very vital. I saw examples watch docs and I'm still unable to migrate after few hours.

[2017-06-07 02:36] sontek opened #200 "Resize on elements isn't an event"
Right now the container event has `resize` in events but I don't believe that is an actual thing that gets triggered (the tests miss this event), I believe you need to do something like `resize-observer-polyfill`  and then:

[code]

Currently I have an issue where I have a sidebar that hides/shows which means the parent container is resizing the width but the styles aren't re-calculated.

[2017-06-07 02:50] sontek commented on #200
A utility I wrote internally for this on other components:

[code]

and it can be used like this:

[code]

[2017-06-07 02:56] sontek commented on #200
Here is a screenshot of the error I'm experiencing:

![jun-06-2017 19-44-09](https://user-images.githubusercontent.com/151924/26860334-06343dc4-4b03-11e7-97f4-d1d42bb10406.gif)

[2017-06-07 03:12] sontek commented on #200
Ignore the code above, I created a wrapper container that fixes the bug:

[code]

[2017-06-07 04:46] sontek commented on #200
Ok, here is an update.... I complete misunderstand what was going on.

So the problem I have is that I have a sticky container with two sticky children in side.  The  left column can be hidden/shown and when this happens the container isn't being resized but its available space has changed and so the child needs to be notified that it should re-calculate.

I'm now doing this with:

[code]

Is that

[2017-06-07 12:02] dbarbalato commented on #198
If you made a PR for this feature I will bring it in

[2017-06-07 12:04] #188 closed

[2017-06-07 12:21] dbarbalato commented on #200
If the code above produces the desired effect, then I say it is a perfectly acceptable solution.

Good job digging in to the API to get your feature working!

[2017-06-07 12:25] dbarbalato commented on #191
@kennethkalmer the script you asked for is already documented in the package.json :). You would just run `npm run compile` and the resources will be available under the lib/ directory.

Just as @MichaelDeBoey said, there is too much "noise" in including a dist in source and I won't be re-introducing it.

[2017-06-07 12:25] #191 closed

[2017-06-07 13:24] kennethkalmer commented on #191
Thanks, understood!

I rolled it up with a tiny webpack config in cljsjs/packages#1197 to get the final transpiled JS that can be used by Google Closure. That was the missing step, sorry if I wasn't clear on my original needs :)

[2017-06-09 06:29] lightninglu10 opened #201 "Sticky active callback?"
Hey guys, I have a container that needs padding once the sticky becomes active (because of position: fixed on the sticky). How do I tell when the sticky is active? I tried setting state inside of the child function of <sticky> but that's not good for React. Any other way I can tell that the sticky is active and then update my state accordingly?

[2017-06-09 12:56] kolhead opened #202 "Running stacked example with React 15.3.2"
Hi,
I am trying React sticky , we need something like the stacked example. So I am trying to run with React 15.3.2. I used the latest version , it renders the Sticky container & Sticky , but there is no Sticky Header and the whole list just scrolls . I downgraded to 5.0.8, but then the Sticky does not render at all. Can you tell me what the issue is and which exact version should I use with React

[2017-06-12 08:15] kolhead commented on #181
Any solution to this issue . I have a similar issue with relative

[2017-06-12 14:41] andrewhl opened #203 "Sticky not working in Semantic-UI React"
I'm using v6.0.1 of Sticky. I'm also using React Semantic-UI. The following was working in the previous version of sticky, but now is not working. If disableCompensation is set to true, the sidebar doesn't scroll at all. If set to false, it jumps to the middle of the screen (the height of the compensation, around 500px) when sticky is activated, and thereafter stops moving. Not sure what the issue

[2017-06-12 15:13] kolhead commented on #202
Issue is resolved now with Relative, though I had to handle the sticky. But the stacked is still a problem. How can I get a relative feature with stacked.

[2017-06-12 15:15] kolhead commented on #189
I am facing the same issue. Were you able to fix it?

[2017-06-12 15:21] adaam2 commented on #185
n.b Just deleting the `node_modules` folder and re-running `npm i` or `yarn install` works for me.

[2017-06-12 18:10] denis-sokolov commented on #189
No. But depending on your browser support, [`position: sticky`](http://caniuse.com/#search=sticky) might be good enough now or in the future.

[2017-06-16 22:43] liuhelen10 commented on #196
I'm having the same issue -- any suggestions?

[2017-06-18 16:27] darrenbarklie opened #204 "Adding additional styling when <Sticky /> is stuck"
I have a quick question; how do I inject additional styles on to the `<Sticky />` element when `isSticky` is triggered.  In practice, I want to add `box-shadow` to my navigation element, when stuck.  Thanks in advance!

[2017-06-19 03:11] kosanna commented on #150
Was also trying to stick it to the bottom, however, if you pass `bottom: 0` styling via children div wrapper className it does not unstick when you scroll past the container and keeps being sticky at the very bottom of your viewport.

[2017-06-19 06:27] oldo commented on #150
@kosanna I ended up taking @ShyamRaj's suggestion and am now using [react-stickky](https://github.com/ShyamRaj/react-stickky) which allows you to specify the id of the container that you'd like it to stick to the bottom of :-)

[2017-06-19 06:27] oldo commented on #150
Whoops, didn't mean to close... I think this is still relevant to this project incase someone else picks up maintaining it again.

[2017-06-22 18:56] bernardoatworkpop opened #205 "Sticky overlaps with fixed divs on the page"
I am using react-sticky for a page, and found that the Sticky doesn't seem to support divs with fixed positioning (e.g. header). react-sticky seems to assume that the desired sticky position is always top 0, so whenever the container becomes sticky, it overlaps with the fixed container.

Is there a workaround for that? My requirement is to get a side menu sticky below a top navbar, so both the cal

[2017-06-23 23:01] bernardoatworkpop commented on #204
You can do it in your children component (I had to do something similar). Use the isSticky prop when rendering it, then apply a different style to it when it becomes true. For example:
<div className={classNames(css(styles.myStyle), (isSticky && css(styles.isStickyStyled)))}>
...
</div>

[2017-06-25 03:46] yury-dymov commented on #188
How on Earth could this be not documented after a very lucky catch?

[2017-06-26 20:48] darrenbarklie commented on #204
@bernardoatworkpop - An example would be great if you have one, as I'm still learning a lot with React. Thanks!

[2017-06-26 22:26] kubilaysalih commented on #203
You need to add style prop to sticky component. Then you can pass it to sidebar as style attribute. Like this;
[code]
After that, use dynamic style variable as you want.

[2017-06-26 22:30] kubilaysalih commented on #156
@pzatrick if you log style object, you can see that it become empty object after lazy load. I'm just manipulating it from become an empty object.

[2017-06-27 06:02] kosanna commented on #150
@oldo could you please help me a little then, because I can't see that you can pass id from the source code https://github.com/ShyamRaj/react-stickky/blob/master/src/index.js

[2017-06-27 13:30] oldo commented on #150
Sure @kosanna

Just pass `bottomBoundary` as a prop. For example in one of my projects I'm using:

`<Sticky top={160} bottomBoundary="#product-container">`

The nice thing is that the item that you are referring to doesn't need to exist within the same file or component.

For anyone else landing here, this is in reference to `ShyamRaj/react-stickky` - a different project to this `captivationsoftwa

[2017-06-27 13:33] oldo commented on #150
Hold on! My bad... Actually, the project that I should of linked to originally is: https://github.com/yahoo/react-stickynode

Sorry for steering you in the wrong direction @kosanna :-)

[2017-06-27 14:52] lukemarsh commented on #188
I appreciate this project isn't actively maintained but has anyone looked into a fix for this?
The issue has been closed but not fixed...

[2017-06-27 14:55] lukemarsh commented on #94
@dbarbalato any updates on this? The issue is happening for people using this component

[2017-06-27 15:23] dbarbalato commented on #94
I'm not personally looking into it, no.

[2017-06-27 15:53] fisx commented on #201
If this is about `onStickyStateChange`, which was still around in 5.0.8 but has since been removed, I also need this.  Could the maintainers confirm that this has been removed?  Perhaps it works differently now and we just haven't found it yet?

[2017-06-27 15:54] dbarbalato commented on #201
I can confirm that it has been removed - you will now need to compare `isSticky` and `wasSticky` to derive that same information.

[2017-06-27 15:56] fisx commented on #201
Wow, that was fast.  :-)

Ok then, `isSticky !== wasSticky` should work.  Thanks!

[2017-06-28 07:22] lukemarsh commented on #188
@dnd would you be able to share your source code for your fix?

[2017-06-28 10:36] lukemarsh commented on #188
I found a library which does pretty much everything I need if anyone is interested?

Not experiencing the same getBoundingClientRect bug with this one

https://github.com/yahoo/react-stickynode

[2017-06-29 14:46] witalobenicio commented on #94
This problem occurs because react-sticky is using ref as string, instead of setting to a variable.
How react-sticky do:
[code]

How it SHOULD do:
[code]

Just an example

[2017-06-29 15:19] witalobenicio commented on #179
It's not sticking anymore with version 6.0.1

[2017-07-03 10:28] liubko commented on #141
any update on this? or maybe a proper workaround?

[2017-07-03 10:48] vyorkin commented on #141
@liubko not sure, but as I remember the discussion continues here: https://github.com/captivationsoftware/react-sticky/issues/88

[2017-07-04 15:04] tchock opened #206 "'getBoundingClientRect' of null error when using together with react-router"
I have nested `StickyContainer`s. One global (that is available all the time) and two containers that are inside routes. When switching those two routes back and forth quickly, I will get the following error:

[code]
in the following line:
https://github.com/captivationsoftware/react-sticky/blob/43a370d2810215de1b7d9c7a5986d860c52206e1/src/Container.js#L47

Seems like react-sticky is trying to acc

[2017-07-10 15:49] brysbra commented on #153
@codepunkt Is this still relevant?

I'm trying to use styled-components with react-sticky and I tested the example code from the README but it's not working; styles aren't applied to the `StyledSticky` component.

I'm using v6.0.1 of `react-sticky`, v2.1.1 of `styled-components` and v1.0.2 of `styled-property`.

[2017-07-12 18:16] ztanner commented on #206
This is also biting my team. Hoping someone from captivationsoftware can shed some light on a good solution here.

[2017-07-14 07:14] chbdetta commented on #206
This happens to us here too. But logs show the error thrown by [this line](https://github.com/captivationsoftware/react-sticky/blob/master/src/Sticky.js#L99) and It looks like `cloneElement` with `ref` doesn't work as I expect, the `dom` param is `null`

Here's a jsfiddle showing the problem: https://jsfiddle.net/wpygn0r2/, you could see `null` is printed in console.

[2017-07-14 20:05] domigan commented on #122
also having this issue in safari. why must it be like this

[2017-07-15 07:01] tchock commented on #206
I did a fix for this (for the `node` being `null`), that we use in our code.
Because currently this repo is not active developed anymore I would suggest to use my fork.
I created a runnable version, that you can install with changing the version reference of `react-sticky` in the `package.json` file to:
[code]

After that you need to do `npm install` or `yarn install`.

[2017-07-15 15:24] ztanner commented on #206
Thanks, @tchock!

[2017-07-18 14:06] codepunkt commented on #153
`styled-components` 2.x has made the usage of `styled-property` superfluous.

[2017-07-18 14:06] #153 closed

[2017-07-21 05:34] rameshvishnoi90904 commented on #202
i am also stuck, @kolhead can you help me?

[2017-07-21 18:10] hovatterz commented on #205
Hey,

In case you never got this working I just implemented it myself.

Example with unimportant bits removed:

[code]

[2017-08-01 16:21] fisx opened #208 "what is the recommended replacement?"
could you leave a line in the README as to what captivationsoftware is using now that is better than react-sticky, and what other alternatives have been considered?

any hints greatly appreciated.  sorry to see this orphaning out, thanks for the good work!

[2017-08-01 17:25] dbarbalato commented on #208
Not really sure what a good alternative is - if anyone has suggestions I'd be happy to update the README.

FWIW, we still use react-sticky on our projects. In fact, we exclusively use the 6.x API. The current offering is by no means broken - it works as intended, and is a very powerful, customizable lib. We simply don't have the bandwidth to keep up with user demands, especially as the React commu

[2017-08-01 18:00] fisx commented on #208
oh good, glad to hear it's still in use.

thanks again (-:

[2017-08-02 09:14] danse commented on #208
I've been wondering whether to use React Sticky or to opt for a more lightweight solution relying more on CSS, and maybe on very little Javascript logic to coordinate the triggering of all the style changes.

I interpreted the discontinuity in the maintenance of React Sticky as a sign that more lightweight solutions were now preferred, but this conversation made me realise that it's a matter of ef

[2017-08-02 13:00] kumarharsh commented on #208
The `AutoAffix` from react-overlays is worth a shot. I've been using it for some time, and it works well. But it's a little buggy, so I wanted to find a better alternative, and landed here - sad to see this fall out of maintenance. Will try this out over the weekend to see whether this works better than AutoAffix.

[2017-08-04 08:19] lcvbeek commented on #208
I've switched to https://github.com/gm0t/react-sticky-el - had some issues, but works like a charm now. Highly customizable and supports stick-to-bottom!

[2017-08-04 09:19] fisx commented on #208
that looks promising.  thanks, we'll take a look!

[2017-08-17 09:32] tatsujb opened #211 "No guide or wiki on handling "style" or CSS default is to stick to bottom"
I implemented sticky pretty much as is

and even found that something as minimal as :

[code]

works
but the default is to stick to bottom. you show off these
isSticky,
wasSticky,
distanceFromTop,
distanceFromBottom,
calculatedHeight

but what are they? css selectors?

how do I pass them values? is it ok to declare them elsewhere? it's apparently ok not to declare them at all...
in that case are a

[2017-08-17 13:59] isaacalves opened #212 "add a className"
is it possible to add a class to the Sticky element when the element's stickiness is activated?

[2017-08-28 09:15] vcarel opened #213 "Move prop-types to peerDependencies"
I think `prop-types` should sit along `react` and `react-dom` in peer dependencies.
I wouldn't like to get multiple versions of prop-types if we don't have matching versions.

[2017-08-30 16:37] TheXardas commented on #206
Please, merge a fix for this!

[2017-08-31 18:23] arielger opened #215 "Support passing refs through Sticky HOC"
I'm not being able to use refs inside the component wrapped by the `Sticky` HOC.

I know this is a common problem for HOCs but according to the React documentation I could pass the reference function as a normal prop to the HOC and then use that function inside the content of the Sticky.

https://facebook.github.io/react/docs/higher-order-components.html#refs-arent-passed-through

The problem I fo

[2017-09-21 13:42] martinbroos commented on #212
you can do this by checking the isSticky variable. The way i'm doing this is with https://github.com/JedWatson/classnames

`
                <Sticky { ...stickyProps }>
                    {
                        ({ style, isSticky }) => {
                            var className = classNameFactory('article-header', {
                                'article-header--sticky': isSticky

[2017-10-03 04:57] r-tock opened #216 "Support React16"

[2017-10-13 10:30] fluse commented on #216
react-sticky@6.0.1 requires a peer of react@^15.3.0 but none was installed.
react-sticky@6.0.1 requires a peer of react-dom@^15.3.0 but none was installed

[2017-10-17 09:33] fluse opened #217 "Find new Maintainers"
dont stop development, find new maintainer

[2017-10-18 07:06] flood4life commented on #208
https://github.com/yahoo/react-stickynode
This one is pretty nice as well, it was a really smooth transition for me.

[2017-10-18 11:25] fisx commented on #208
thanks!

meanwhile we've switched to a css-only solution, and it turned out to be extremely simple (essentially, just add `position: sticky` to the right one or two classes) and flexible (if you need stickiness state inside react, just update it in the DOM event handlers).

now i'm wondering if there is a reason for react libraries at all.  support for old / bad browsers?

[2017-10-18 11:58] kumarharsh commented on #208
That is one reason why all of these might have fallen out of maintenance. I'm also using a css-only solution, and patching IE's implementation.

[2017-10-23 00:54] thomashibbard commented on #216
@r-tock react sticky works for me in react 16 without any warnings. What is the problem exactly?

[2017-10-23 02:10] r-tock commented on #216
Just update peer deps.

[2017-10-23 03:00] thehappycoder commented on #110
I disagree. I had to use this lib because `position: sticky` doesn't work when applied to element inside absolutely positioned parent.

[2017-10-26 03:59] cameronaziz opened #218 "Attempting to install and getting Cannot read property '0' of undefined"
I am making the following call:

`npm i -S react-sticky`

and it returns the following:

`npm ERR! Cannot read property '0' of undefined`

`npm ERR! A complete log of this run can be found in:`
`npm ERR!     /Users/cameronaziz/.npm/_logs/2017-10-26T03_56_08_475Z-debug.log`

and the last lines of the log are:

128 info lifecycle react-sticky@6.0.1~preuninstall: react-sticky@6.0.1
129 info lifecycle

[2017-10-26 04:22] #218 closed

[2017-10-26 04:22] cameronaziz commented on #218
Looks like an issue with npm https://github.com/npm/npm/issues/17858

[2017-11-01 15:23] Grinzzly commented on #201
In fact `wasSticky !== isSticky` seems not working properly.
I have in my code smth like this:

`if (wasSticky !== isSticky) {
    handleStickyStateChange(isSticky);
}`

And it seems that on really first iteration the `wasSticky` equal to `isSticky` but as a matter of fact shouldn't.

[2017-11-05 23:12] malchata opened #219 "Implement IntersectionObserver"
Using code that binds scroll/resize events to check for visibility in the viewport are incredibly expensive, even if the code that is ran inside of them is throttled. This project should consider using [IntersectionObserver](https://developer.mozilla.org/en-US/docs/Web/API/Intersection_Observer_API) to check for element visibility. It's a far more efficient and performant solution.

That said, not

[2017-11-22 02:52] konsumer commented on #216
[code]

[2017-11-28 07:51] rauhljoshi opened #220 "Does react-sticky work in popups/modal windows?"
I've been trying to implement react-sticky in a popup, but it doesn't seem to work. Is this a limitation?

Pseudocode -

[code]

Content.js -

[code]

[2017-12-01 09:38] hackhat opened #221 "Sticky is in the right place on start, when I scroll goes to the top just like that"
Just copy paste your code and not working...

[2018-01-07 18:21] jesskrich commented on #216
Does this even work with React 16? Doesn't seem to be for me.

[2018-01-18 07:05] AnnaCheba commented on #204
@bernardoatworkpop  don't worry, I found it))
Example:
`<StickyContainer>
                    <Sticky>
                        {
                            ({isSticky, style}) => {

                                return <div className={isSticky ? 'sticky' : ''}  style={{...style}}>
                                               ...
                                            </div>;

[2018-01-31 23:43] bolora opened #222 "I don't want to use <StickyContainer>"
I don't want to use <StickyContainer>
It would be great if you could assign a selector as wrapper to the Sticky element. Example:

<div id="some-id-that-wraps-sticky-object">
     ...
     <Sticky wrapper="#some-id-that-wraps-sticky-object">
         ...
     </Sticky>

     ...
</div>

Reason:
<div id="some-id-that-wraps-sticky-object"> is outside the react root.
Should also be able to do somethi

[2018-02-11 21:30] acmoune opened #223 "Is it possible to stick when the StickyContainer top is something different than 0 ?"
I have a fixed `navbar`, with a height of `50px`. I would like to stick when the StickyContainer top is `50`, instead of `0`. Please how can I acheive that ?

[2018-02-11 22:11] acmoune commented on #223
I got it

[code]

[2018-02-11 22:11] #223 closed

[2018-02-16 05:53] #185 closed

[2018-02-19 18:18] sun2rise commented on #216
any news? any fix? any workaround?

[2018-02-19 18:21] thomashibbard commented on #216
@jesskrich  @sun2rise What are your problems exactly? This works fine in React 16. You should provide some details if you think there is a bug or post on stack overflow if you are having implementation problems.

[2018-02-20 08:19] sun2rise commented on #216
@thomashibbard I am sorry... I was messing with css somehow, my mistake!
Thanks

[2018-02-20 09:01] tomellwood commented on #216
@thomashibbard  It looks like React and React DOM 15.3.0 are peer dependencies in the [source](https://github.com/captivationsoftware/react-sticky/blob/master/package.json#L30-L31). Updating to React 16 results in the error messages @fluse and @konsumer have reported.

Any steps on how you got this to work with React 16?

[2018-02-21 13:24] smshahrukh opened #224 "Sticky Header goes to right while transition"
I am trying to animate slide down the wrapper in which react-sticky header is used.
The code is here:
[code]

The developer console shows that Sticky header has some weird left position which fixes itself after a while. How can I solve this issue?

[2018-02-21 15:38] vcarl commented on #217
Hello @fluse! I've volunteered to help maintain this, so if you have suggestions on how to improve I'd love to hear them.

[2018-02-21 15:40] vcarl commented on #216
Can anyone confirm that it works (except for peerDep warnings) with React 16? If so, all we'll need is to update the peerDep range.

[2018-02-21 15:43] #217 closed

[2018-02-21 15:44] #212 closed

[2018-02-21 15:46] vcarl commented on #215
Thanks @arielger for the suggestion. Just so I'm clear, you're trying to get a ref for a component that's being wrapped with the Sticky HOC? Could you provide a minimal code sample?

[2018-02-21 15:50] vcarl commented on #200
Hey @sontek is this issue resolved for you? Happy to discuss further if you have suggestions or questions.

[2018-02-21 16:22] vcarl commented on #90
Resolved in #132, let me know if there are still problems!

[2018-02-21 16:22] #90 closed

[2018-02-21 16:31] vcarl commented on #108
@jameslnewell could you make a minimal reproduction? I'm having trouble picturing what's giong wrong, and this sounds like an intersection between several libraries. Going to close this, but happy to reopen if you can provide a repro.

[2018-02-21 16:31] #108 closed

[2018-02-21 16:35] vcarl commented on #112
I think this is working as intended. The container has to be around any elements that you want it to be sticky for, it won't do a full-page sticky element unless the container wraps the whole page.

[2018-02-21 16:35] #112 closed

[2018-02-21 16:44] #125 closed

[2018-02-21 17:19] thomashibbard commented on #216
@vcarl  Confirm: I am on react@16.2.0 and works fine.

[2018-02-21 18:50] #216 closed

[2018-02-21 18:55] vcarl commented on #222
I see your use case, but I'm not a fan of reaching outside of the component arbitrarily. Would something like

[code]

work for you? I'm not sure I'm a fan of that either, but I'd prefer it over an arbitrary selector.

[2018-02-21 18:57] vcarl commented on #224
I'm not sure I'm understanding what's happening, could you add a screenshot of video capture of the behavior you're seeing?

[2018-02-21 18:59] vcarl commented on #219
I agree with you, but as you note IntersectionObserver has poor browser support. Do you have any recommendations for only including the polyfill if the consumer doesn't already supply it? I'd like to avoid including redundant code if possible.

[2018-02-21 19:01] vcarl commented on #213
We have very similar usernames! Good suggestion, care to open a PR? :)

[2018-02-21 19:10] #208 closed

[2018-02-21 19:12] vcarl commented on #196
Hi @041616 @liuhelen10 would one of you be able to create a minimal reproduction of the problem? Setting up an SSR app to test this would take me a bit of time, I could likely resolve more quickly with a reproduction.

[2018-02-21 19:13] vcarl commented on #192
Closing due to lack of response. Happy to reopen if the problem isn't because of function components.

[2018-02-21 19:13] #192 closed

[2018-02-21 19:18] vcarl commented on #206
I'll take a look at @tchock's fork when I have a minute later! Will see about merging the fix in.

[2018-02-21 22:08] vcarl commented on #221
Hi @hackhat could you provide a few more details? After pasting, what does the code look like?

[2018-02-21 22:24] #201 closed

[2018-02-21 22:25] vcarl commented on #201
Closing this since there seems to be a workaround (`wasSticky !== isSticky`). @Grinzzly if you're still having issues, could you make a bug repro?

[2018-02-21 22:26] vcarl commented on #220
Could you expand on how it's not working? If the container is the same height as the content it's wrapping, it won't have any space to be sticky. Closing, will reopen if you think this is a bug.

[2018-02-21 22:26] #220 closed

[2018-02-21 22:27] #205 closed

[2018-02-21 22:28] #198 closed

[2018-02-21 22:30] vcarl commented on #187
Since I'm taking over maintenance and have no familiarity with the API < 6.0.0, I'm going to close this. If somebody wants to document the changes they had to make in order to upgrade I would be happy to work together to add it to the docs, but it's not something I'm able to do on my own.

[2018-02-21 22:30] #187 closed

[2018-02-21 22:32] vcarl commented on #171
A higher order component should be able to be applied as a decorator, but decorators are not stable right now. If there's an API change that's needed to enable that, let me know and I can reopen, but until decorators are stable I don't think it makes sense to add to the docs.

[2018-02-21 22:32] #171 closed

[2018-02-21 22:33] evan-scott-zocdoc commented on #187
You should probably leave it open then if you want to allow people to tag on and help :p

[2018-02-21 22:55] #186 closed

[2018-02-22 00:01] vcarl commented on #187
It's 9 month old issue with no activity. Happy to reopen if somebody volunteers.

[2018-02-22 00:03] vcarl commented on #187
Comments are still open! But old issues with no activity make a project look inactive, I'm biased towards closing aggressively and reopening if needed.

[2018-02-22 02:56] jameslnewell commented on #108
👍 Thanks. All good. I've since moved companies so I'm no longer facing the same issue.

[2018-02-22 16:18] vcarl commented on #158
Since this is such an old issue, I'm going to close it. Happy to reopen if more details are provided.

Can you be more specific than "weird"? A reproduction or screen recording of the weird behavior would be very helpful.

[2018-02-22 16:18] #158 closed

[2018-02-22 16:19] #203 closed

[2018-02-22 16:20] vcarl commented on #189
@denis-sokolov I'm not quite understanding what the problem is. You're trying to replicate the stacked demo?

[2018-02-22 17:21] denis-sokolov commented on #189
@vcarl, yes, the stacked demo, but not at the top of the screen, but at the top of an arbitrary container, like in the [“relative” demo](https://rawgit.com/captivationsoftware/react-sticky/master/examples/relative/index.html).

[2018-02-22 20:01] vcarl commented on #189
Gotcha, okay. It definitely does seem like if the stacked demo works, and the relative demo works, a stacked relative demo should work as well.

I'm still familiarizing myself with the library, would you be able to make a "stacked relative" demo as a PR? It seems like a valuable addition to the docs, and if it produces buggy behavior it would help me a lot when I go to debug it.

[2018-02-22 20:02] maecapozzi commented on #211
Hi @tatsujb, I'd love a bit more information about what you're looking for.

Are you looking for documentation or a demo of how to build a `<div>` that sticks to the top of a container? Or are you just looking for more robust documentation in general?

[2018-02-22 20:04] maecapozzi commented on #161
Hi @stackninigi, I know this is a bit late, but I thought it would be helpful for me to try to answer your question, especially since other people have given a 👍.

I'm still familiarizing myself with this library but think I might be able to be of assistance.

I'd love to see a real-life example of what your code looks like! I think that will help me to better answer your questions.

[2018-02-22 22:40] vcarl commented on #120
Hi @rxaviers, do you know if this is still a problem? I don't see the demo repo (thank you 100000x for making that!) or I would verify, and I'm clearing out old issues as I've just come on as a new maintainer.

I'm going to close this out, but I will be happy to reopen it if it's still a problem.

[2018-02-22 22:40] #120 closed

[2018-02-22 22:45] vcarl commented on #126
Hey @femesq, I'm not sure that I'm understanding. I think you have a sticky top section, which has sticky sections within it?

I see that this issue is quite old, so I'm going to close it out proactively. I'd be happy to reopen it if you're still encountering this issue, just let me know what version you're seeing it on.

[2018-02-22 22:45] #126 closed

[2018-02-23 01:32] vcarl commented on #204
@AnnaCheba's got it! That's a good way to add styles. I'm going to close this issue since it has a good solution.

[2018-02-23 01:32] #204 closed

[2018-02-23 01:33] vcarl commented on #130
Hey @jasan-s, are you still encountering this issue? Since this is very old with no activity, I'm going to close it but if you're still in need of a solution, let me know and we can talk more.

[2018-02-23 01:33] #130 closed

[2018-02-23 01:34] vcarl commented on #134
@dannypk the line of code you referenced is 404ing now, do you know if this is still a problem in the current version? Since this issue is so old and there have been several releases since, I'm going to close the ticket, but I'd be happy to reopen if there's still a problem.

[2018-02-23 01:34] #134 closed

[2018-02-23 01:36] vcarl commented on #137
Dupe of #88

[2018-02-23 01:36] #137 closed

[2018-02-23 01:39] vcarl commented on #127
Hm let me play around with this, I just took over maintenance of the library. This does seem like a good use case, but I don't have a sense for how hard it would be to support.

[2018-02-23 02:38] vcarl commented on #206
Ah sure, I see. If you unmount the node in the time between when rAF is scheduled and when it executes, the ref will be `null` when it runs. I'm going to see about getting a failing test case for this and explore @evan-scott-zocdoc's comment on #207. I prefer to cancel async behavior over adding a null check.

[2018-02-23 04:39] vcarl commented on #181
I'm not able to reproduce this with `relative={true}` on the Sticky element, could somebody provide a complete reproduction? Ideally a git repo I can `git clone`, `npm install`, `npm start`, but a code snippet I can copy-paste would be helpful too. @dgladkov maybe? I don't want to merge your PR without reproducing the problem myself.

[2018-02-23 04:43] vcarl commented on #202
Hi @kolhead does this appear to be a bug? I'm not able to provide 1:1 support for every user of the library, but if you're struggling I might be able to help a little in Reactiflux (I'm vcarl in there too) http://join.reactiflux.com/

[2018-02-23 04:43] #202 closed

[2018-02-23 04:45] vcarl commented on #88
I'm generally opposed to this type of API. One change I'd like to explore is removing the `div` altogether from the Container, could that work for you?

[2018-02-23 10:04] tatsujb commented on #211
@maecapozzi either one would be great 😃  but the latter would profit more people.

[2018-02-23 11:09] smshahrukh commented on #224
Here it is. The input box is wrapped into Sticky header. It moves to the right when transform is applied.
https://cl.ly/0G0q390i1m2n

[2018-02-23 12:32] maecapozzi commented on #211
Ok. I’ll likely go through and spend some time reviewing the documentation and adding things here or there to start.

Please feel free to add any other questions you have to this thread and I’ll address them.

[2018-02-23 14:03] denis-sokolov commented on #189
Sorry, it’s been a while, I’m not using it in my current project and it’ll cost me much more effort to get back into the context.

[2018-02-23 14:20] vcarl commented on #189
Okay, that's fine! I'll leave this open as a doc enhancement issue, and will open a bug issue if I find something's not working right.

[2018-02-25 21:11] vcarl commented on #224
Looks to me like it's jumping to the left? I think I've run into this problem myself, try wrapping the the `StickyContainer` with a div and positioning that. When the `Sticky` gets stuck, it gets a width set equal to the measured value of the container, which can cause what you're seeing.

[2018-02-27 16:04] Timopheym commented on #193
+1 I tired make sticky elements relative but it does relative only to one of many StickyContainers and if i have only one scrollavble StikyContainer and many Stiky relative - i see only one... It looks like with current architecture it's impossible create nested in relative container - and it's very-very pitty(

[2018-02-27 16:22] vcarl commented on #193
I think this is a dupe of #189? Going to close, will reopen if it's distinct.

[2018-02-27 16:22] #193 closed

[2018-02-28 15:19] gilnetoglartek opened #229 "Sticky component not sticky"
Hey there.
Maybe I'm doing something wrong, I'm not entirely sure, but it seems that, after following your basic demo code, I ain't able to create a navigation bar that sticks to the left side of my page.
This is the page as it is now (without the sticky component):
![image](https://user-images.githubusercontent.com/35693671/36794497-69e60520-1c98-11e8-9443-b62d97caa8f8.png)
If I start scrolling d

[2018-03-01 14:02] siakaramalegos commented on #224
I had this same problem. When it stuck, both the sticky header and the scrollable content shifted to the right by a few pixels.

For the header, I think it had something to do with you setting the width. I needed it to be 100% because I have some absolutely positioned elements inside of the header. I also need to set both top AND left. I think those items might have also been causing the shift bec

[2018-03-05 22:42] karmeleon opened #231 "No clean way to force-update Sticky"
I've got a use case wherein I have a `<StickyContainer/>` on the right-hand side of the page that expands to the left when the user clicks a button, remaining sticky the whole time. [Like this](https://giphy.com/gifs/g0C00vpcT657kyKzDl)! Since this action doesn't fire any of the events that `<StickyContainer/>` listens for, its left hand side moves to the left but the child `<Sticky/>` and its con

[2018-03-06 00:51] vcarl commented on #231
Ah interesting! Good point, that does seem like a viable use-case. Do you have any specific API in mind? First thought would be an additional argument passed to the `render` callback, but I'm open to suggestions.

[2018-03-06 00:57] karmeleon commented on #231
Yeah I like the `render` argument idea! Easy to pass into whatever child components may want it, but equally easy to ignore if you don't need it.

[2018-03-06 15:20] maecapozzi commented on #229
I took the liberty of reformatting your code so that it's a bit more parseable.

[code]

[2018-03-06 15:27] maecapozzi commented on #229
@gilnetoglartek I'm having a bit of trouble understanding the expected behavior. Would you mind sharing a gif or a video of what this looks like now?

It would also be really helpful if you put this code in a codepen or a JSFiddle so I could tweak it.

I'll also share a basic example of how I think this should work. I hope it at least guides you in the right direction.

[code]

[2018-03-06 16:30] maecapozzi commented on #184
Hi @dstros94, if you are still having this issue can you add a video of the behavior you're seeing?

[2018-03-06 16:36] alxvallejo commented on #212
What is { ...stickyProps } ? I don't see that in the documentation...

[2018-03-06 17:00] vcarl commented on #212
That appears to be code from @martinbroos' code, not the library. It's not related to how to apply a `className` to an element when it's sticky.

[2018-03-06 17:02] vcarl commented on #212
I formatted his snippet with Prettier, here it is without some of the intermediate values and unnecessary props.

[code]

[2018-03-06 17:08] vcarl commented on #229
Hey @gilnetoglartek I don't see the `style` value that's coming in as an argument being applied anywhere in the DOM being returned. Does it work if you add it to the `div` wrapping your menu items?

[2018-03-07 00:42] vcarl commented on #200
Going to close this, as I'm not quite sure if there was a bug you wanted to report or an enhancement you were requesting. I see you found your own solution to the problem, happy to help further if you still need it!

[2018-03-07 00:42] #200 closed

[2018-03-07 00:42] #221 closed

[2018-03-07 00:47] vcarl commented on #156
I've noticed some quirkiness when the y position of an element change, but I'm not quite sure what problem this is talking about specifically. I'm going to close this since it's a year old, if we can get a reproduction going on https://codepen.io/ or https://codesandbox.io/ then I'm happy to reopen!

[2018-03-07 00:47] #156 closed

[2018-03-07 00:55] vcarl commented on #211
Hey @tatsujb I'm not quite sure I'm understanding what you're asking for. The default examples as is do stick to the top of the container, so I'm not quite sure what you're seeing. The intended use is to pass `style` to the dom node you intend to be sticky. At it's most basic,

[code]

There are some documentation improvements I'd like to make as well, I'm going to close this out but let me know i

[2018-03-07 00:55] #211 closed

[2018-03-07 01:03] vcarl commented on #88
I'm going to close this as it's a very old ticket. I'm still familiarizing myself with the core logic of how stickiness happens so I'm hesitant to make too many changes, but it would be helpful to get some examples of use cases that aren't supported by the library as it stands now!

[2018-03-07 01:03] #88 closed

[2018-03-07 14:00] vcarl commented on #190
Hm @keith-gould-zocdoc so does this seem like a bug with how Sticky renders in Enzyme? I'm not super familiar with the quirks of rendering with Enzyme, but it does seem like it should call the child function.

[2018-03-07 14:02] vcarl commented on #161
There seem to be several quirks with how widths are handled, but I don't quite have a complete picture of what the use cases are. I'd like to poke around and try to come up with some reproductions for strange behavior, help with that would be great!

[2018-03-07 14:07] vcarl commented on #150
@oldo I'm not quite sure I'm following what behavior you'd like. Are you saying that once you scroll down far enough so that the element goes out of view, scrolling back up should show the element at the bottom? That's the behavior I see in the examples.

[2018-03-07 16:23] vcarl commented on #224
Is this with the latest version of the library? I can't really provide support for anything < 6, I only recently began maintaining this and don't really have the bandwidth to learn all the previous versions.

[2018-03-07 16:42] siakaramalegos commented on #224
For me, yes. But like I said, I think it might have been because other elements had different positioning, and I needed the header to change to 100% width.

[2018-03-07 18:46] vcarl commented on #224
Yeah there are some quirks with the styling, a little bit more brittle than i'd like. I've had issues with the width as you say as well.

@smshahrukh did wrapping it work? I'm going to close this out in a few days, just don't want open issues lingering.

[2018-03-07 20:47] maecapozzi commented on #220
@vcarl it's possible this is the same problem we were running into trying to get this working in a modal. Maybe it makes sense to reopen this, or to open a new issue?

[2018-03-08 04:10] oldo commented on #150
Hi @vcarl
It's been a long time since I have thought about this issue but from memory the behaviour you are describing is what I was looking for but at the time it was not sticking to the bottom when scrolling back up the page. This was over a year ago though so it could be that a fix was released that I was not aware of.

[2018-03-08 11:24] smshahrukh commented on #224
@vcarl No, Wrapping did not work. I tested it with wrapping but it didn't work. Some `left:330px` are still added and `position: fixed` on the Sticky in the case.

[2018-03-08 13:31] vcarl commented on #150
Okay, I'm going to close this out then. Thanks for responding!

[2018-03-08 13:31] #150 closed

[2018-03-08 14:37] vcarl commented on #111
I think this is regarding an old version of the library? I did some poking with the current version, and it doesn't appear to rerender children excessively. It rerenders _itself_ frequently, but since the props don't change React doesn't render the tree. Going to close this in a few days unless somebody can confirm it's still a problem with version 6

[2018-03-08 14:37] #122 closed

[2018-03-12 17:38] gilnetoglartek commented on #229
Hi everyone,
Thanks for your answers.

@maecapozzi I've edited my code as to have a <Navigation> component being called from the Sticky context, as you shown. I've also corrected this to pass on the style parameter, as it wasn't, and as was referred by @vcarl . As such, This is the Sticky part of the code:

`class Navbar extends PureComponent {

    render() {
        const user = this.props.userP

[2018-03-12 18:13] vcarl commented on #229
The login doesn't work for me, it redirects me to login. The `StickyContainer` must be taller that the element that it contains, and `div`s between the `Sticky` and `StickyContainer` can cause issues with the styles applying correctly.

I don't think this is a bug in the library, and I don't have a lot of extra time to help you debug each step of implementation. I'm going to close this out, if you

[2018-03-12 18:13] #229 closed

[2018-03-18 23:05] bradstiff opened #234 "All events cause Sticky component to be remounted"
I have a bootstrap DropdownButton control in my Sticky component, which I am using for navigation. On the desktop, if I expand the DropdownButton and then scroll the page, the dropdown collapses.  This is not normal behavior, but I can live with it.

What is worse is on mobile, if I expand the DropdownButton and then try to select one of the child MenuItems, the dropdown collapses without reflecti

[2018-03-19 16:01] vcarl commented on #234
I just set up a little CodeSandbox (codesandbox.io) and could not reproduce this behavior, the function being called does not re-mount the component being returned each time. Could you help me reproduce this?

(It's a little bit broken, but it's logging to the CodeSandbox console. Open the console, reload the sandbox viewport from the little reload icon--NOT the browser reload--and scroll around.

[2018-03-21 13:38] vcarl commented on #234
Closing this, because I can't reproduce. Can reopen if you provide a bug reproduction!

[2018-03-21 13:38] #234 closed

[2018-03-21 19:19] bradstiff commented on #234
Sorry for the delay.  Here is a repro to the code sandbox: https://codesandbox.io/s/9qy5xky5y

If you open https://9qy5xky5y.codesandbox.io in Chrome, you can observe the behavior I described.

Expand Desktop Menu and then scroll the page down. The Dropdown Menu collapses because the Header component is remounted on scroll.

Open Chrome Dev Tools and toggle the Device toolbar (to emulate a mobile

[2018-03-21 20:40] vcarl commented on #234
Your reproduction is pulling in both `react-responsive` and `react-bootstrap`. When I remove those, it stops mounting. Looks like your bug is in another library.

Actually, I can see that `react-sticky` isn't causing this bug even without modifying it.

[code]
The only thing directly rendered by `Sticky` is `Header`, `HeaderNav` is rendered within `Header`. The console shows `Header` mounting once

[2018-03-21 20:43] vcarl commented on #234
Ah I see I stopped reading prematurely, you note as much in your last paragraph. I'm not sure, and don't really have time to help you debug further. Maybe dropping by Reactiflux (http://join.reactiflux.com), somebody might be able to help more.

[2018-03-23 14:38] callumlocke commented on #231
I want this too.

For now, as a workaround you can do `window.dispatchEvent(new Event('scroll'))` from anywhere, and it tricks the Sticky into re-rendering.

[2018-03-27 16:40] arielger commented on #215
I think this was happening in v5. Now with the new API  you don't need to handle any ref 👌

[2018-03-27 16:40] #215 closed

[2018-03-27 17:16] vcarl commented on #215
Thanks for following up :)

[2018-03-29 13:06] florianboudot commented on #170
Yes ! And don't forget to `disableCompensation`
[code]
it will remove this unwanted div :
[code]

[2018-04-01 19:00] sylviawxx commented on #216
@vcarl Could you please make a release for this fix? Thanks!

[2018-04-02 23:38] dbarbalato commented on #216
Tagged and published 6.0.2 - thanks Carl!

[2018-04-03 15:17] ptamoncloudity commented on #127
Hi,

Any progress on this issue/idea?

[2018-04-03 18:53] vcarl commented on #127
I've been busy with other things unfortunately @ptamoncloudity (when I commented this repo had over 50 issues, we're improving!).

One small thing that would be very helpful to me would be to make a [Code Sandbox](https://codesandbox.io) or something to reproduce the bad behavior! If I can play with it in a bad state, I can more easily test changes.

[2018-04-04 01:08] bradduck opened #235 "bottomOffset in relative mode not functional"
I have a use case where the stick element is within an overflowing `<StickyContainer />`, yet requires a bottomOffset.  It appears as though bottomOffset does not work correctly when `<Sticky>` is in relative mode.  I believe I have a fix that will correct this:

[code]

Thoughts on this change?  Is there another way to accomplish what I'm trying to do?

[2018-04-04 17:35] vcarl commented on #235
Hm could you make a Code Sandbox or similar? I'm not sure I understand what the problem is.

[2018-04-05 11:21] CYB3RL1F3 opened #236 "choppy scroll safari"
Hi,

I get a problem with Safari (and only safari).
I'm using a magnetic scroll system, and when I scroll, the sticky div looks like jumping and buging... The scroll is choppy... I tried loads of solutions by my side, but nothing seems abnormal. When I don't put the sticky div, the scroll is perfectly fluid... No problem at all on Chrome & Firefox.

Would you have a clue ?

[2018-04-05 20:56] vcarl commented on #236
I don't unfortunately, but the folks in Reactiflux might be able to help you diagnose performance issues! http://join.reactiflux.com

[2018-04-05 20:56] #236 closed

[2018-04-06 01:07] bradduck commented on #235
Sure, will do... I'll try to get one done this weekend.

[2018-04-13 15:19] gregoralbrecht commented on #94
I know this is an old issue but I was wondering if anyone actually got this to work? We're using `react@16.2.0` and I just can't get it, even if I set everything up just like the examples.

Any help is much appreciated :)

[2018-04-13 21:36] djandrzej commented on #94
@gregoralbrecht In my case issue was caused by two versions of react running in single runtime. React sticky was running on different version than components in my app that were used within Sticky. I use webpack and i handled it by defining an alias so webpack would use only fixed version of react for entire bundle. You can follow up on this solution here: https://webpack.js.org/configuration/reso

[2018-04-14 12:51] gregoralbrecht commented on #94
@vcarl Here you go: https://codesandbox.io/s/ww8vq8rzww

@djandrzej Thanks for the response! Unfortunately, I can't touch the webpack config...

[2018-04-15 15:14] vcarl commented on #94
I see a few problems off the bat @gregoralbrecht, here's a working sandbox https://codesandbox.io/s/9op7mw8v4y

One of the problems is what the warning is telling you. `Stateless function components cannot be given refs`, so when `Sticky` tries to get a ref of the rendered component to measure, it ends up with `undefined`, ultimately giving you the error on this issue. You can fix that by using a

[2018-04-16 10:27] gregoralbrecht commented on #94
@vcarl Thank you so much for looking into this so quickly! I suppose I should've figured out to use a stateful component (I actually started out with one), however it wasn't clear from the docs that you're required to pass to `style` prop.

The docs say:

Do you want a PR to add the two requirements (`style` prop and "*stateful* React component") to the docs? I might be the only one stupid enough

[2018-04-16 13:49] vcarl commented on #94
A doc PR would be great! I was also thinking of adding a dev-mode check for if the ref is undefined, logging a more helpful warning.

[2018-05-03 11:54] d33con opened #239 "Added div's padding not staying at calculated height"
At the top of the page the extra div's padding-bottom (added by Sticky) value is 0px. As I scroll and it touches the point at which I have Sticky set to stick at it changes momentarily to the calculated height of the menu (in my case 79px) but then immediately back to 0px causing the content below to jump up giving a janky feel. Any suggestions on how I can fix this?

[2018-05-04 01:53] vcarl commented on #239
Hello! Would you be able to set up a codesandbox.io or codepen.io reproducing it?

[2018-05-04 15:05] d33con commented on #239
It seems I have fixed the issue now, thanks anyway!

[2018-05-04 15:05] #239 closed

[2018-05-15 17:50] yourmediafriend commented on #181
I think this may be to do with the container being in an element with css transform / translate applied. This changes the origin of the position: fixed coordinates to that element rather than the viewport. I am having a similar problem.
Wrapping element css {transform: translate3d(54px, 0px, 0px); }
placeholderClientRect => DomRect{bottom:54, height:54, left:54, right:1920, top:0, width:1866, x:54

[2018-05-15 18:40] yourmediafriend commented on #224
I commented on a previous issue which was similar. I believe the error comes from the css transform changing the relative coordinates of the fixed element (http://maneeshchiba.com/article/css-transforms-fixed-positioning)

I did a quick hack to Sticky.js to calculate the left position using
this.placeholder.getClientRects() rather than this.placeholder.getBoundingClientRect()

[2018-05-17 16:50] vcarl commented on #206
@imjanghyuk are you using latest? The peerDep was loosened in #225

[2018-05-23 11:03] threeid commented on #206
Hi there, i encounter this issue with react-sticky & next.js as well.
It happens when i change page while the children component is sticky.

![screen shot 2018-05-23 at 6 02 46 pm](https://user-images.githubusercontent.com/37827220/40420753-88fe77e6-5eb3-11e8-834e-ed17d6ba3820.png)

[2018-05-27 13:57] threeid commented on #206
this fixes my issue.

<img width="640" alt="screen shot 2018-05-27 at 8 52 51 pm" src="https://user-images.githubusercontent.com/37827220/40586690-f86519b6-61ef-11e8-99f8-d4405e55bb63.png">

[2018-05-30 02:39] imjanghyuk commented on #206
@vcarl I'm using @tchock 's fork. My comment is for @tchock
I'm always ready for using original repo if this issue is fixed.

[2018-06-13 14:09] martinbroos commented on #206
@vcarl now that this repo is maintained again, is it possible that you add the fix @tchock made for getBoundingClientRect of null error ?

See his changes: https://github.com/tchock/react-sticky/commit/7fb02370c424034443198057c1ae778f1a016a9b

[2018-06-13 15:02] vcarl commented on #206
I'd prefer @threeid's change that cancels the RAF rather than doing a null check. Nothing has changed in the PR since [I left this comment](https://github.com/captivationsoftware/react-sticky/pull/207#pullrequestreview-98795813), either. I poked at it a bit but wasn't able to get a failing test case. If somebody could spend some time putting some code for that I'd be happy to merge it.

[2018-06-14 09:14] Venumteam opened #242 "incorrect work inside column grid"
Hi guys faced with the issue

[code]

top value always changing on scroll

![matriarchal 2018-06-14 12-06-04](https://user-images.githubusercontent.com/13667226/41402969-5a602158-6fcc-11e8-9146-a9e673d1bd30.png)

so the sticky behavior doesn't work in my grid layout column for some reason

[2018-06-20 08:29] erksch opened #243 "Horizontal stickiness"
# I'm submitting a feature request

I started using `react-sticky` but realised there is no support for horizontally stickiness.
I want to make the far left column of a table follow while scrolling horizontally.

Did I miss the functionality or is it plainly ignored?

[2018-06-20 12:01] vcarl commented on #243
It's not supported!

[2018-06-20 21:45] #243 closed

[2018-06-21 05:03] M1chaelTran commented on #82
is there a solution to this? if not, why it is close?

[2018-06-21 12:50] vcarl commented on #82
This is working as intended, sticky containers tell a sticky element when it's at the top of the screen. There is no support for multiple sticky elements within a single container.

[2018-06-24 17:11] c0debreaker opened #244 "Sticky behaves differently with this code"
This is the basic example I copied. I was playing with the code to figure out how it works. However, I hardcoded the background style in the Header and the sticky didn't behave as expected anymore. Why is it doing that?

[code]

[2018-06-24 17:32] vcarl commented on #244
Hi @c0debreaker! You're not using the `style` parameter being passed into the function child of `<Sticky>`.

[code]

Without that `style` parameter, it won't be sticky.

[2018-06-24 17:32] #244 closed

[2018-06-24 17:56] c0debreaker commented on #244
Got it. Thanks!

[2018-06-24 18:40] c0debreaker opened #245 "Header component is not sticking on top"
I can't figure out why I can't get it to work. If I scroll down, the value of top attribute keeps on decrementing. Header won't stay fixed on top. What am I doing wrong?

My header component component/Header/index.js
[code]

and my Sticky component code
[code]
Here is the screenshot - https://i.imgur.com/JdKAwYs.png

[2018-06-25 01:28] vcarl commented on #245
Hi @c0debreaker this is for reporting bugs, I can't help you with every issue you run into while implementing! I helped out with your first issue because I quickly noticed the problem. There's a react chatroom called Reactiflux that might be able to help, http://join.reactiflux.com

[2018-06-25 03:36] vcarl commented on #245
I'd also like to point out that the issue template specifically says as much :) Please read those before filing issues!

[2018-06-25 04:34] c0debreaker commented on #245
Thank you vcarl. Will do next time. Apology.

[2018-06-25 14:12] vcarl commented on #206
Fixed in #246

[2018-06-25 14:12] #206 closed

[2018-06-25 14:13] vcarl commented on #206
Wanted to shoutout @pfulop! Thanks a lot for taking a look at the fix and opening a PR for it :)

[2018-06-25 17:34] vcarl commented on #242
Hello! Without more code there isn't much to debug, please create a reproduction as described in the issue template :)

[2018-06-25 17:34] #242 closed

[2018-06-27 13:37] shunxing opened #247 "Content before Sticky component inside StickyContainer not caught"
Hi guys
I'm facing an issue which wasn't before i upgraded react-sticky to version 6.

[code]

On this code, when i arrive on the `div (1)`, it directly sticks my `div (3)` to the top. Before the upgrade,  when i scrolled on `div (3)`, it was at this moment `div (3)`become sticky.

I wanted to know if there was a solution for that.

[2018-06-27 13:52] vcarl commented on #247
Hi @shunxing can you please follow the issue template? It asks for a lot of information that I can't really help you without.

[2018-06-27 14:45] shunxing commented on #247
@vcarl Hi ! done !

[2018-06-29 12:47] vcarl commented on #247
TY for the excellent bug report! I'm flying today, I'll try to poke this while I'm in the air.

[2018-07-10 04:40] #111 closed

[2018-07-16 18:01] vcarl commented on #247
I should probably capture some of my findings. I did spend a bit of time on this, but this is the first time I've debugged the core of the logic for the library. This seems like a pretty strong assumption of the library, it's going to take a good bit longer before I can find something that I'm positive won't break compatibility.

[2018-07-16 22:46] lesliecdubs opened #248 "[Feature request] isActive prop lost in upgrade to v6"
# Feature request

No easy way to turn sticky on/off. Prior to v6 there was an `isActive` (boolean) prop on `Sticky` that could be used for stopping the sticky behavior in certain instances, i.e. mobile.

See https://github.com/captivationsoftware/react-sticky/issues/56 & https://github.com/captivationsoftware/react-sticky/pull/60

[2018-07-19 20:40] acmoune opened #249 "How to go sticky when the bottom is reached, instead of the top ?"
How to go sticky when the bottom is reached, instead of the top ?

[2018-07-21 10:56] hepiyellow opened #250 "Sticky element `ref` is overwriten"
# I'm submitting a ...
  - [x] bug report
  - [x] feature request
  - [ ] support request

### If you're reporting a bug, please provide a minimal demonstration of the problem

### What is the current behavior?
When rendering this Sticky element:
[code]

The `ref was called` is not printed.
Since [here](https://github.com/captivationsoftware/react-sticky/blob/87e1f7de2ce4261a521d8f8caf1995166f8b3e

[2018-07-22 20:56] vcarl commented on #250
Thanks for the report! Now that React provides a [ref forwarding API](https://reactjs.org/docs/forwarding-refs.html) this is definitely something we could provide. If you wanted to take a stab at it I'd be happy to merge a PR :)

[2018-07-22 20:59] vcarl commented on #250
Oh this is an interesting bit from that post, however

That's a good point, if there are people relying on `ref` returning the instance of `Sticky`, changing this would break their application. I'm not sure the marginal improvement is worth a major version release at the moment.

[2018-07-27 17:51] NicoleRauch opened #251 "Is there a way to have a sticky footer?"
# I'm submitting a ...
  - [ ] bug report
  - [X] feature request / request for help
  - [ ] support request

### What is the current behavior?

I would like to have a sticky footer. But I don't know how / whether react-sticky can do this.

### What is the expected or desired behavior?

It should be the same as "basic", just upside-down :-)
I.e. the sticky footer should stick to the bottom until t

[2018-07-27 18:04] vcarl commented on #251
Not currently supported, sorry! It's been asked about before, but isn't currently planned to be implemented. I was poking around the innards of the library a couple weeks ago to try and make it a little simpler and more robust, if I can get that wrapped up I'll see how much it would take to get a footer working.

[2018-07-27 18:04] #251 closed

[2018-08-03 00:20] horaciosystem opened #252 "Sticky not working with Functional component as children"
# I'm submitting a ...
  - [X] bug report
  - [ ] feature request
  - [ ] support request

### What is the current behavior?
Using a `functional` component as children element of Sticky is not working. No styles are passed to the children element.

But changing the children element to a `class`component make it works.

For what I see in the source code here: https://github.com/captivationsoftware/

[2018-08-03 01:02] vcarl commented on #252
Function components don't have refs, and since we need a ref to the DOM node, can't be used. I'd welcome a PR that detects and warns if the child is a function component!

[2018-08-09 19:07] #252 closed

[2018-08-22 12:01] bharathiuidev opened #255 "sticky element not working. please help me!!!"
Hi all,

I have faced the issue.

sticky element not fixing in top. it has been also scrolling. i have checked with inspect element.

there is only 1 or 2 seconds it has been sticky. after that sticky element also scrolling. please help me to solve this.

thanks in advance

[2018-08-22 14:30] vcarl commented on #255
Please read the issue template that you deleted when you created this issue!

[2018-08-22 14:30] #255 closed

[2018-08-25 19:51] brewern opened #256 "Basic implementation not working"
# I'm submitting a ...
  - [x] bug report

[Bug Demo](https://codesandbox.io/s/89329v202)

This is just a basic implementation that I cannot get working. As I scroll the fixed position increases a negative number, that doesn't seem right. The div spacer also shows a padding-bottom, I don't understand how that value is determined.

I'm trying to use this library in my app, I created the sandbox exa

[2018-08-30 01:38] annjawn commented on #88
So is it safe to assume that it doesn't work with `thead`?

[2018-09-18 21:07] shaneardell commented on #256
Hi @vcarl Those two sandboxes behave exactly the same for me. What's the fix?

[2018-09-18 22:01] vcarl commented on #256
Oh strange, I think my changes must not have saved? Sorry about that 😅 There are 2 problems: the `left-column` div exactly wraps its contents, and the `StickyContainer` is nested within _that_. `Sticky` elements will only stick within the extents of `StickyContainer`, so it's not working because the `StickyContainer` is less than 1 screen tall.

The fix I made was to set the containing div to `dis

[2018-09-20 15:37] vanmik commented on #205
I also struggle with the case when sticky containers should be rendered below a top navbar. I tried to use @hovatterz code, but it still not working as expected.

Here's codesandbox to illustrate the problem: https://codesandbox.io/s/915wo58mro

[2018-09-20 18:00] SeanRoberts commented on #223
I had better luck overriding the top vs. the padding top:
`<div style={{ ...style, top: '50px' }}>`

(you'll need to play around with that if you need a different top value when it's not sticky)

[2018-09-20 20:32] vcarl commented on #205
Fixed example. Instead of using all the `distanceFromX` stuff, It just does `top: style.top + heightOfFixedHeader + 'px'` and uses `<Sticky topOffset={-heightOfFixedHeader} />` to trigger at the correct height.

https://codesandbox.io/s/4q93vw74pw

I ran into 2 things I didn't expect though: I figured positive offset would be below the top, and I figured a top offset would be applied to the positi

[2018-09-21 07:32] darkowic opened #259 "Get rid of `raf` library"
# I'm submitting a ...
  - [ ] bug report
  - [x] feature request
  - [ ] support request

The requestAnimationFrame is now widely supported by browsers -https://caniuse.com/#search=requestanimationframe

The library is using polyfill for it - https://www.npmjs.com/package/raf . Removing the polyfill we could save ~30% of build size https://bundlephobia.com/result?p=react-sticky@6.0.3

[2018-09-21 13:19] vanmik commented on #205
@vcarl it works, thank you!

A little dissapointing though, with this approach sticky headers just overlays on top of each other. In this example http://react-sticky.netlify.com/#/stacked each header is pushing out previous one.

[2018-09-21 14:00] vcarl commented on #205
That's a matter of styling and z-index.

[2018-11-05 12:07] oddsund opened #261 "React.Fragment causes errors in the console"
# I'm submitting a ...
[X ] bug report
[ ] feature request
[ ] support request

### If you're reporting a bug, please provide a minimal demonstration of the problem

https://codesandbox.io/s/ll886vz80l

### What is the current behavior?

An error stating "TypeError: _this.content is undefined" is printed on each scroll event when returning React.Fragment from the render callback function.

### Wha

[2018-11-05 15:56] vcarl commented on #261
Thanks for the issue! Yeah, `findDOMNode` definitely isn't ideal. I'm not positive we can solve this, as we need to measure the DOM node and Fragments don't create one. If you want to open a PR to the docs for now, I'd be happy to merge it.

[2018-11-09 07:51] TheBrainTeam commented on #134
Hi @vcarl,
I know I am late tot he party, But this is still happening. The toolbar is not positioned properly in IE but is working fine in all other browsers.
![image](https://user-images.githubusercontent.com/22367940/48249863-42615300-e3f4-11e8-9c28-a027adfc651d.png)

[2018-11-09 15:59] vcarl commented on #134
What version of the library are you using @TheBrainTeam? If you could post a codesandbox or similar that reproduces the problem, that would be helpful.

[2018-11-12 16:01] TheBrainTeam commented on #134
Sadly codesandbox is not working in my IE but I did a rough code in chrome if it would run in your IE I hope that would be helpful for you to understand the issue. I'll see if I could reproduce the issue some how in the future as I am little occupied now :(
Thanks for your good works.

https://codesandbox.io/s/047k0k7w10

[2018-11-13 13:52] woshoushuye opened #262 "Not work when scrolling (in some old android devices)"
# I'm submitting a ...
  - [✅ ] bug report

### If you're reporting a bug, please provide a minimal demonstration of the problem
in some of the android mobile(most likely the old devices)，it's not perform as we want when i am scrolling, but it works immediately after i stop scrolling，i check both the scroll and touchmove events, they are triggered in a very low frequency. any idea will be grateful

[2018-11-13 15:36] vcarl commented on #262
Not much I can do without more information! I don't have any old android devices to test on, and the demos work correctly on my current device. Is there a specific device or browser you've seen this on?

It's possible that older devices don't fire events during smooth scrolling for performance reasons. If that's the case, it's unlikely we could handle it correctly from this library.

[2018-11-13 20:02] vcarl commented on #262
Happy to reopen if you can provide more information.

[2018-11-13 20:02] #262 closed

[2018-11-13 20:03] vcarl commented on #259
This is a good idea! You're right, I feel fine not supporting older than IE10. I'll see about making this change soon.

[2018-11-13 20:06] vcarl commented on #248
Sorry I didn't respond to this sooner. You should be able to conditionally apply `style` to replicate this.

[code]

Since it's a relatively simple change, I'm not sure it's worth an API change to bring it back. If you feel differently I'd be happy to discuss it further!

[2018-11-13 20:06] #248 closed

[2018-11-22 09:07] jtomaszewski commented on #188
It should be documented, yeah.

Another way to fix it is to use `React.forwardRef` in your pure component function ( https://reactjs.org/docs/forwarding-refs.html ) .

[2018-11-23 00:19] vcarl commented on #188
The repo is open for contributions @jtomaszewski! We'd welcome a PR to the readme if this is still a problem with the latest version.

[2018-12-28 10:46] harrygreen commented on #94
I didn't get the `Stateless function components cannot be given refs` warning, but it was the problem in my case. Thanks @vcarl.

[2018-12-31 06:58] Simek commented on #261
React fragment is also responsible for `getBoundingClientRect` error in console:
`Sticky.js:61 Uncaught TypeError: Cannot read property 'getBoundingClientRect' of undefined at Sticky._this.handleContainerEvent`.

Changing Fragment to HTML tag fixes this issue.

[2018-12-31 14:04] vcarl commented on #261
Yes, this is known behavior.

Open to contributions to improve docs or behavior around this!

[2018-12-31 14:04] #261 closed

[2019-01-11 17:13] SleepWalker commented on #259
moreover raf is required for recent React versions. So it should be actually already polyfilled by lib consumers.

[2019-01-25 14:48] Mr-jiangzhiguo opened #268 "Uncaught TypeError: Expected Sticky to be mounted within StickyContainer"
# I'm submitting a ...
  - [ ] bug report
  - [ ] feature request
  - [ ] support request

### If you're reporting a bug, please provide a minimal demonstration of the problem

[Bug Demo]( INSERT THE URL OF YOUR BUG DEMO HERE )

### What is the current behavior?

### What is the expected or desired behavior?

### Why do you want this? What use case do you have?

### What is your environment?

  -

[2019-02-01 10:07] marklai1998 commented on #231
really want it to be fixed asap, can't even wait for 6.1
I have a layout that has a transition in changing width
That adds an extra challenge to the code, idk when to fire the scroll event
too early the sticky component won't update, too late the animation just become ugly

[2019-02-01 18:11] vcarl commented on #231
Good thing there's a workaround then @marklai1998! I haven't had much time to dedicate to developing `react-sticky`, other projects have taken priority.

[2019-02-10 07:15] hepiyellow opened #269 "Feature- Request: Allow listening on `onScroll` event"
# I'm submitting a ...
  - [ ] bug report
  - [x] feature request
  - [ ] support request

### What is the current behavior?

`<StickyContainer onScroll={handleScroll}/>`

handleScroll is not called

### What is the expected or desired behavior?

That `handleScroll` will be called.

### Why do you want this? What use case do you have?

In My use-case there is a component out-side the `<StickyConta

[2019-02-10 07:56] vcarl commented on #269
Does `window.addEventListener('scroll', handleScroll)` work for you? Typically you don't attach scroll handlers to a specific node in my experience.